{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UV-Compatible" content="ie=edge">
    <meta name="description" content="LightMeet, le premier comparateur d'application de rencontres. Être éclairé pour trouver l'amour.  ">
    <title>LightMeet</title>
    {% block css %}
    <link rel="stylesheet" href="{% static 'partner_meet/css/style_base.css' %}">
    {% endblock %}
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-SP9DEQYW1Z"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-SP9DEQYW1Z');
    </script>
    <!-- Hotjar Tracking Code for Site 4960613 (nom manquant) -->
<script>
    (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:4960613,hjsv:6};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
    })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
</script>
</head>

<body class="container">
<header>
    <a href="{% url 'Home' %}" style="font-size:30px;font-style:italic;">
        <img src="{% static 'partner_meet/Logos/Lightmeet.png' %}" style="max-width: 200px; height: auto;">
</a>
    <a href="{% url 'blog_home' %}">Blog</a>
    <a href="{% url 'Contact' %}">Support</a>

    <nav class="NavHeader">
        <div class="menuHamburger">
            <div class=" line Line1"></div>
            <div class=" line Line2"></div>
            <div class=" line Line3"></div>
        </div>
    </nav>
</header>
{% block aside %}
{% endblock %}
{% block section %}
{% endblock %}
{% block footer %}
<footer>
    <ul class="ListFooter">
        <a class="linkFooter" href="{% url 'Home' %}">
            <li>© 2024 LightMeet</li>
        </a>
        <a class="linkFooter" href="{% url 'Home' %}">
            <li>Mentions légales</li>
        </a>
        <a class="linkFooter" href="{% url 'Home' %}">
            <li>Politique de confidentialité</li>
        </a>
        <a class="linkFooter" href="{% url 'Home' %}">
            <li>Conditions générales d'utilisation</li>
        </a>
        <a class="linkFooter" href="{% url 'Home' %}">
            <li>Politique de Cookies</li>
        </a>
        <a class="linkFooter" href="{% url 'Home' %}">
            <li>Presse</li>
        </a>
    </ul>
</footer>
{% endblock %}
</body>
</html>
