{% extends 'partner_meet/base_Partner_meet.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'legal/css/Legal.css' %}">
{{ block.super }}
<link rel="stylesheet" href="{% static 'partner_meet/css/style_base.css' %}">
{% endblock %}


{% block section %}
<section>
    <article>
        <h1 class="Title">Conditions générales d’utilisation </h1>
        <p class="Text">Conditions d’utilisation révisées le 06/04/2024
        </p>
        <p class="Text">
            Les présentes Conditions d’utilisation sont conclues entre la société Listen2Meet (« nous ») et vous.
            Nous proposons diverses plateformes de rencontres entre personnes à des fins personnelles. Nous fournissons
            des
            produits et services gratuits et payants sur ordinateur, web mobile et applications (les
            « Services »).
            Sauf lorsqu’ils sont réservés à une certaine catégorie d’utilisateurs, certains critères supplémentaires
            peuvent
            être requis lors de l’inscription. Nos Services sont ouverts à tous les adultes de plus de 18 ans, sous
            réserve
            qu’ils respectent les critères d’éligibilité. Si vous avez moins de 18 ans, vous n’êtes pas autorisé(e) à
            accéder aux Services et devez en cesser immédiatement l’utilisation.
        </p>

    </article>

    <article>
        <h2 class="Title">Éligibilité aux services</h2>
        <p class="Text"> Vous ne pouvez utiliser les Services que sous les conditions suivantes. Vous déclarez et
            certifiez :
        </p>
        <ul>
            <li>• Avoir plus de 18 ans et être en capacité de conclure un contrat juridiquement contraignant avec nous.
            </li>
            <li>• Remplir les conditions d’inscription énoncées sur les Services.</li>
            <li>• Fournir des informations correctes, exactes et véridiques ne prêtant pas à confusion. Faire preuve
                notamment
                de sincérité et d’honnêteté en remplissant votre profil et lors de vos interactions avec d’autres
                utilisateurs
                ainsi qu’avec nous.</li>
            <li>• Reconnaître et accepter que les Services aient pour objet de discuter à des fins personnelles, de
                divertissement et non commerciales, avec pour objectif général de rechercher une relation authentique.
            </li>

            <li>• Vous conformer et respecter l’objectif des Services en tout temps.</li>
            <li>• Déclarer ne pas être actuellement inscrit(e) au Fichier des auteurs d’infractions sexuelles ou
                violentes
                (FIJAIS).
            </li>
            <li>• Déclarer n’avoir jamais été reconnu(e) coupable d’acte illicite impliquant toute fraude, infraction
                sexuelle,
                violence (y compris la violence domestique), harcèlement, terrorisme ou crime haineux.
                Nous nous réservons le droit de refuser, suspendre ou résilier l’accès ou l’adhésion à tout moment si
                vous ne
                remplissez pas l’une des présentes conditions.</li>
        </ul>
    </article>
    <div class="LineSeparationArticle">

    </div>
    <article>
        <h2 class="Title">Inscription</h2>
        <p class="Text">
            L’inscription aux Services est gratuite. Vous vous engagez à ne pas créer plus d’un compte.
            Vous vous engagez à fournir les informations obligatoires requises pour compléter votre profil sur les
            Services
            et maintenir ces informations à jour. Une carte d’identité ou passeport peut vous être demandé dans le cadre
            d’un contrôle de sécurité. Vous reconnaissez et acceptez la publication de certaines de ces informations sur
            les
            Services.
            Les informations fournies par l’utilisateur sur les Services lors de l’inscription et ultérieurement doivent
            être exactes et véridiques. Les conséquences de la divulgation de telles informations sur la vie d’un
            utilisateur ou d’autres utilisateurs relèvent de la responsabilité exclusive de l’utilisateur concerné.
            Lorsque
            vous divulguez et diffusez toute information, données, texte, et images vous concernant, vous renoncez à
            votre
            droit de déposer toute réclamation contre nous, en particulier sur le fondement d’une éventuelle violation
            de
            vos droits à l’image ou de la personnalité, de votre honneur, votre réputation ou votre droit à la vie
            privée
            pouvant découler de la distribution ou de la diffusion de telles informations.
            Vous êtes responsable du maintien de la confidentialité des identifiants de connexion que vous utilisez pour
            vous inscrire à nos Services, et vous êtes seul(e) responsable de toutes les activités survenant sous ces
            identifiants. Si vous pensez qu’une personne a eu accès à votre compte, vous êtes invité(e) à nous contacter
            immédiatement.
        </p>
    </article>
    <div class="LineSeparationArticle">

    </div>


    <article>
        <h2 class="Title">Règles de conduite</h2>
        <p class="Text">
            La qualité des interactions attendue de notre part et de celle des autres utilisateurs des Services implique
            d’adopter un certain niveau d’éthique dans vos communications et votre comportement par le respect des
            utilisateurs et des représentants du Service Client ainsi que des lois et réglementations en vigueur. Afin
            de
            respecter cette exigence de qualité, de responsabilité individuelle et d’éthique, nous permettons à tout
            utilisateur de signaler tout contenu (photographie, texte, vidéo, etc.), comportement ou propos d’un
            utilisateur
            qui semble enfreindre nos Conditions d’utilisation, Conseils de sécurité et Règles de Wlock, ainsi que les
            droits des tiers et les lois et règlements en vigueur. Par conséquent, en utilisant les Services, vous
            reconnaissez et acceptez que les données que vous fournissez, ainsi que votre comportement ou vos propos,
            puissent faire l’objet d’une modération et/ou de contrôle de notre part conformément à notre politique de
            modération.
        </p>
        <p class="subtitle">
            En tant qu’utilisateur, vous êtes tenu(e) de respecter à tout moment les règles de conduite suivantes et
            convenez de ne pas :
        </p>

        <ul>
            <li>o publier vos coordonnées personnelles ou diffuser les informations personnelles d’une autre personne
                (adresse
                e-mail, adresse postale, numéro de téléphone, etc.) de quelque manière que ce soit (dans une description
                de
                profil, sur une photo, etc.) ;</li>
            <li>o publier tout contenu qui viole ou enfreigne les droits d’autrui, y compris ceux relatifs à la
                publicité,
                la
                vie privée, les droits d’auteur, les marques déposées ou tout autre droit de propriété intellectuelle ou
                contractuel.</li>
            <li>o usurper l’identité de toute personne ou entité ;</li>
            <li>o solliciter des mots de passe à quelque fin que ce soit ou des informations d’identification
                personnelle à
                des
                fins commerciales ou illégales auprès d’autres utilisateurs ;</li>
            <li>o spammer, demander de l’argent ou escroquer un utilisateur ;</li>
            <li>o envoyer des messages en masse ;</li>
            <li>o publier tout contenu à caractère haineux, menaçant, sexuellement explicite ou pornographique ; qui
                incite
                à la
                violence ou contient de la nudité ou de la violence explicite ou gratuite ;</li>
            <li>o publier tout contenu promouvant le racisme, le sectarisme, la haine ou les dommages physiques de
                quelque
                nature que ce soit contre un groupe ou un individu ;</li>
            <li>o insulter, malmener, intimider, agresser, harceler, maltraiter ou diffamer toute personne ;
            </li>
            <li>o utiliser les Services à des fins nuisibles ou malveillantes ;</li>
            <li>o utiliser les Services afin de nous nuire</li>
            <li>o utiliser les services à des fins illégales ou interdites par les présentes Conditions d’utilisation ;
            </li>
            <li>o utiliser les Services afin de promouvoir ou faciliter les relations personnelles de nature
                transactionnelle
                et/ou les services sexuels commerciaux et/ou les actes sexuels non consentis ;
            </li>
            <li>o utiliser tout(e) logiciels, scripts, robots ou tout autre moyen ou processus (notamment des robots
                d’indexation, des modules d’extension de navigateur et compléments, ou toute autre technologie) visant à
                accéder, extraire, indexer, fouiller les données ou reproduire ou éluder de quelque façon que ce soit la
                structure de navigation ou la présentation des Services ou de ses contenus ;</li>
            <li>o utiliser le compte d’un autre utilisateur, partager un compte avec un autre utilisateur ou gérer
                plusieurs
                comptes ;
            </li>
            <li>o créer un autre compte si nous avons déjà résilié votre compte, sauf si vous en avez reçu
                l’autorisation de
                notre part.</li>

        </ul>
        <p>
            Toute violation de l’une de ces règles de conduite constitue une violation grave de vos obligations
            contractuelles en vertu des présentes Conditions d’utilisation.
            Nous nous réservons le droit de suspendre ou de résilier votre compte sans préavis et sans remboursement en
            cas
            de violation de votre part des présentes obligations, d’utilisation abusive des Services ou de comportement
            que
            nous considérons comme inapproprié ou illégal, y compris au regard de toute action ou communication survenue
            dans le cadre ou en dehors de l’utilisation des Services. Afin de mieux sécuriser les services de
            Listen2Meet,
            les informations des utilisateurs bannis peuvent être partagées au sein de Listen2Meet afin de nous
            permettre de
            prendre les mesures nécessaires contre les utilisateurs à risque, y compris la résiliation de leur compte
            et/ou
            l’interdiction de créer un compte.
            Cette fermeture de compte prend effet sans préjudice des dommages et intérêts qui peuvent vous être réclamés
            de
            notre part en tant que compensation pour les pertes encourues en raison d’une violation des présentes
            Conditions
            d’utilisation.
        </p>

    </article>
    <div class="LineSeparationArticle">

    </div>

    <article>
        <h2 class="Title">Services</h2>
        <p class="Text">
            5.1 Fonctionnalités gratuites
            Votre inscription aux Services permet d’accéder instantanément à des fonctionnalités gratuites. Ces
            fonctionnalités ne sont pas les mêmes selon le type de services sur lequel vous êtes inscrit(e) et peuvent
            changer au cours du temps.
            Les caractéristiques et fonctionnalités gratuites incluent notamment la création de votre profil
            d’utilisateur,
            certaines fonctionnalités de recherche, la navigation sur les profils d’autres utilisateurs et l’accès à
            certains événements et activités.
            5.2 Services payants
            Les abonnements récurrents vous permettront d’accéder à des fonctionnalités supplémentaires.
            5.3 Événements et activités.
            Lorsque des événements ou des activités sont proposés, des conditions spécifiques sont applicables et
            disponibles sur les pages décrivant les événements ou les activités.
        </p>
    </article>

    <div class="LineSeparationArticle">

    </div>




    <article>
        <h2 class="Title">Procédure et conditions d’achat</h2>
        <p class="Text">
            6.1 Généralités
            En fonction de votre localisation et de la manière dont vous accédez aux Services (par exemple via un
            ordinateur, un appareil mobile), les Achats peuvent être effectués directement sur nos Services (par exemple
            via
            une carte de paiement...). Lorsque vous choisissez d’effectuer un Achat, vous êtes invité(e) à le confirmer
            auprès du prestataire de paiement concerné. Votre mode de paiement, tel qu’une carte de paiement ou votre
            compte
            tiers, sera débité des montants affichés pour le(s) Achat(s) que vous avez sélectionnés et vous nous
            autorisez,
            nous et/ou Apple/Google ou un autre compte tiers (le cas échéant) à vous débiter.
            L’Achat est confirmé au moment où la transaction financière est autorisée et confirmée auprès de votre
            banque ou
            de votre compte tiers.
            6.2 Renouvellement automatique de l’abonnement ; Paiement automatique par carte
            Dans le cas où vous souscrivez un abonnement périodique avec renouvellement automatique (un « Abonnement »),
            votre Mode de paiement continue d’être débité au titre de l’Abonnement jusqu’à échéance de la période
            d’Abonnement en cours. Après votre période d’engagement initiale, et à nouveau après toute période
            d’engagement
            ultérieure, votre Abonnement est automatiquement renouvelé pour une période équivalente, sauf indication
            contraire au moment de l’Achat. En souscrivant un Abonnement, vous êtes engagé(e) par contrat à poursuivre
            les
            paiements récurrents pendant toute la période d’Abonnement et toute période de renouvellement en cours,
            jusqu’à
            ce que vous mettiez fin au renouvellement automatique de cet Abonnement.
            Nous vous rappelons que certains Abonnements font l’objet d’offres spéciales, au titre desquelles le prix
            est
            réduit pour une période donnée avant renouvellement au prix standard (sans réduction).
            Vos informations de paiement sont ensuite stockées et utilisées pour procéder au renouvellement automatique
            de
            l’Abonnement. Vous êtes libre de mettre à jour votre Mode de paiement à tout moment. Nous pouvons également
            mettre à jour votre Mode de paiement dans la base de données fournie par le prestataire de paiement
            concerné. En
            acceptant nos Conditions d’utilisation, vous nous autorisez à continuer de percevoir les paiements dus pour
            chaque Achat (qu’il s’agisse d’un paiement ou d’un renouvellement) à la suite de toute mise à jour de votre
            Mode
            de paiement.
            Toute objection relative à un paiement déjà effectué doit être adressée à notre Service Client à l’adresse
            mentionnée
            ci-dessous si vous avez effectué votre Achat directement sur nos Services. Vous pouvez à tout moment retirer
            sans condition votre consentement aux paiements automatiques par carte. Nous vous signalons toutefois que
            vous
            restez tenu(e) de régler les montants impayés qui nous sont dus jusqu’à échéance de la période d’Abonnement
            en
            cours, sous réserve que vous ayez également annulé le renouvellement automatique de votre Abonnement.
            6.3 Droit de rétractation immédiatement après achat
            Conformément à l’article L.221-18 du Code de la Consommation, vous disposez d’un délai de quatorze jours à
            compter du jour suivant un Achat pour exercer votre droit de rétractation (sans pénalité et sans motif) en
            écrivant à l’adresse e-mail support@listen2meet.fr.
            Les Abonnements commencent dès la confirmation de l’Achat. Vous pouvez, si vous le souhaitez, accéder aux
            Services immédiatement sans attendre la fin de la période de rétractation, conformément à l’article L.221-25
            du
            Code de la Consommation.
            Dans tous les cas, si vous vous connectez à votre compte et utilisez les Services avant la fin de la période
            de
            rétractation, cette première connexion constitue une demande expresse de votre part de disposer d’un accès
            immédiat aux Services. L’accès immédiat aux Services ne vous prive pas de votre droit de rétractation, qui
            reste
            valable jusqu’à l’expiration de la période de
            quatorze jours. Toutefois, si vous utilisez un service payant et que vous nous demandez par la suite de
            l’annuler pendant la période de rétractation, chaque jour d’utilisation est payable et nous vous
            rembourserons
            au prorata.
            Le remboursement sera effectué dans les 14 jours suivants la date à laquelle nous avons été informés de
            votre
            décision de rétractation et est traité avec le même Mode de paiement que celui que vous avez utilisé pour
            l’Achat initial.
            6.4 Services tiers supplémentaires
            Les Services peuvent contenir des publicités et promotions proposées sur des plateformes tierces et des
            ressources externes telles que des sites Internet d’Apple/Google ou des applications mobiles, des réseaux
            sociaux, etc. Nous ne pouvons être tenus pour responsables de la disponibilité (ou de l’indisponibilité) de
            ces
            Plateformes tierces. Dans le cas où vous choisissez d’interagir avec des Plateformes tierces mises à
            disposition
            par le biais de nos Services, les conditions de telles plateformes régissent leur relation avec vous. Nous
            ne
            pouvons être tenus pour responsables des conditions ou actions des Plateformes tierces.
            • Résiliation de l’Abonnement (annulation du renouvellement automatique)
            Le renouvellement automatique d’un Abonnement peut être interrompu entre 24 heures après l’achat et au moins
            48
            heures avant le renouvellement de l’Abonnement. Nous conservons toutes les sommes prélevées sur votre Mode
            de
            paiement jusqu’à la fin de la période d’Abonnement en cours.
            La suppression de notre application de votre appareil ne met pas fin à votre Abonnement. Si vous souhaitez
            mettre fin au renouvellement automatique, vous devez vous connecter à votre compte et suivre les
            instructions.
            En vertu des articles L 215-1 et L241-3 du Code de Consommation, « Pour les contrats de prestations de
            services
            conclus pour une durée déterminée avec une clause de reconduction tacite, le professionnel prestataire de
            services informe le consommateur par écrit, par lettre nominative ou courrier électronique dédié, au plus
            tôt
            trois mois et au plus tard un mois avant le terme de la période productives d’intérêts au taux légal ».
            Ainsi, nous vous informerons, par courrier électronique envoyé au plus tôt trois mois et au plus tard un
            mois
            avant la fin de l’Abonnement initial, du renouvellement de cet Abonnement, ainsi que de la possibilité de le
            résilier gratuitement. En outre, une information sur l’échéance de l’Abonnement vous est fournie dans la
            rubrique « Mon Compte ».
            Une fois le renouvellement automatique désactivé, vous pouvez continuer à utiliser votre Abonnement jusqu’à
            la
            date d’échéance. Tout montant restant dû sur le prix total de l’Abonnement reste dû et exigible jusqu’à
            échéance
            de la période d’Abonnement en cours. Vous n’avez plus accès à l’Abonnement à compter de la date d’échéance
            de
            l’Abonnement en cours. Vous conservez toutefois l’accès aux fonctionnalités gratuites.
        </p>
    </article>
    <div class="LineSeparationArticle">
    </div>


    <article>
        <h2 class="Title">Suspension et résiliation</h2>
        <p class="Text">
            7.2 Suspension de profil
            Si vous ne souhaitez plus recevoir de messages ou exposer votre profil à d’autres utilisateurs, vous pouvez
            à
            tout moment demander la suspension de votre profil via votre compte sur les Services. Cette suspension est
            temporaire et n’interrompt en aucun cas tout un Abonnement que vous pouvez avoir (y compris les
            renouvellements)
            et ne prolonge pas la durée d’un tel Abonnement. Vous pouvez réactiver votre profil à tout moment.
            7.3 Résiliation du compte et clôture du profil
            Vous pouvez à tout moment fermer votre compte sur les Services en suivant les instructions disponibles sur
            votre
            section « Mon compte ». Dans le cas où vous rencontrez des difficultés, vous êtes invité(e) à contacter le
            Service Client qui est habilité à le faire en votre nom. Vous ne pouvez plus utiliser votre compte, y
            compris
            procéder à tout Achat, à partir du jour ouvrable suivant toute demande de clôture. Toutefois, tous les
            versements au titre de l’Abonnement restent dus et exigibles pour la partie restante de la période en cours.
            À la fermeture de votre compte, vous recevez un e-mail de confirmation.
        </p>
    </article>
    <div class="LineSeparationArticle">
    </div>
    <article>
        <h2 class="Title">Propriété intellectuelle</h2>
        <p class="Text">
            8.1 Contenu que nous diffusons sur les Services
            Tous les noms, marques, logos, graphismes, photographies, animations, textes, et en général tout contenu
            affiché
            sur les Services, sont notre propriété exclusive, ou sont sous notre contrôle, et ne peuvent être
            reproduits,
            utilisés ou communiqués sans notre autorisation expresse, sous peine de poursuites judiciaires.
            Les droits d’utilisation qui vous sont accordés sont limités à votre usage privé et personnel dans le cadre
            de
            votre utilisation des Services et tant que vous disposez d’un compte chez nous. Toute autre utilisation de
            votre
            part est interdite. De même, vous n’êtes pas autorisé(e) à copier, reproduire ou utiliser de toute autre
            manière
            le contenu produit par d’autres utilisateurs, à des fins autres que strictement personnelles et privées.
            Il vous est interdit, entre autres, de copier, reproduire, télécharger, diffuser, transmettre, modifier,
            exploiter commercialement et/ou distribuer du contenu, des pages ou des codes informatiques des Services, de
            quelque manière que ce soit, sous peine de poursuites judiciaires.
            8.2 Contenu diffusé par les utilisateurs
            En disposant d’un compte et en utilisant les Services, vous nous accordez une licence mondiale pour
            l’utilisation des droits de propriété intellectuelle découlant des contenus que vous fournissez
            (informations,
            images, descriptions, critères de recherche, enregistrements, etc.) dans le cadre de l’utilisation que vous
            faites des Services, y compris, sans s’y limiter, votre profil et vos interactions avec d’autres
            utilisateurs.
            Cette licence inclut spécifiquement le droit dont nous disposons de reproduire, représenter, diffuser,
            modifier,
            adapter (afin de se conformer à la charte graphique des Services et/ou de la rendre compatible avec ses
            fonctionnalités techniques ou les formats pris en charge par les médias concernés), traduire, numériser,
            utiliser aux fins des Services et/ou concéder sous-licence les contenus que vous avez fournis sur tout ou
            partie
            des Services, dans vos e-mails et notifications à d’autres utilisateurs ou toute autre communication
            relative
            aux Services, sous réserve de la législation applicable.
        </p>

    </article>
    <div class="LineSeparationArticle">
    </div>
    <article>
        <h2 class="Title">Garanties, responsabilité et indemnisation</h2>
        <p class="Text">
            9.1 Nos obligations en ce qui concerne votre utilisation des Services
            Nous déclinons expressément toute responsabilité en rapport avec des événements de toute nature susceptible
            de
            se produire entre vous et d’autres utilisateurs pendant des interactions en ligne ou pendant la « vie réelle
            »,
            lors d’interactions entre personnes.
            Une vérification de votre identité au travers de vos cartes d’identité ou passeports pourra vous être
            demandé si
            necessaire. En outre, les utilisateurs publient et téléchargent sur les Services du contenu sous leur seule
            responsabilité. Nous ne contrôlons ni ne modérons de manière exhaustive ce contenu. Toutefois, les
            photographies
            et descriptions des profils des utilisateurs sont modérées avant diffusion sur les Services.
            Nous ne pouvons être tenus pour responsables de l’exactitude ou de l’inexactitude des informations et des
            contenus que vous fournissez ou que d’autres utilisateurs fournissent, ni des conséquences découlant de
            votre
            utilisation ou de l’utilisation par d’autres utilisateurs de telles informations et contenus. De même, nous
            ne
            pouvons être tenus pour responsables de tout contenu diffusé par vous ou autre utilisateur susceptible de
            porter
            atteinte à vos droits ou aux droits d’un ou de plusieurs autres utilisateurs ou de tout autre tiers.
            9.2 Fonctionnement des Services
            Nos Services vous sont fournis « en l’état » et ne vous garantissent pas la possibilité de les utiliser si
            votre
            matériel ou appareil ne fonctionne pas correctement, si votre fournisseur d’accès Internet ne fournit pas un
            niveau de service adéquat ou si votre matériel appareil ne dispose pas d’une connexion Internet pleinement
            fonctionnelle.
            Le fonctionnement des Services peut être interrompu temporairement pour motifs de maintenance, mises à jour,
            mesures de sécurité ou améliorations techniques, ou pour mettre à jour le contenu et/ou la manière dont il
            est
            présenté. Dans la mesure du possible, nous nous engageons à vous informer avant toute maintenance ou mise à
            jour
            planifiée qui pourrait avoir une incidence sur votre utilisation des Services. Si nécessaire, certaines
            fonctionnalités peuvent également être désactivées de façon permanente pour motifs de sécurité ou autres.
            9.3 Plateformes tierces
            Nous n’exerçons aucun contrôle sur les Plateformes tierces vers lesquelles vous pouvez être redirigé(e) de
            temps
            à autre depuis nos Services. Nous déclinons toute responsabilité quant au contenu des Plateformes tierces,
            ainsi
            que toute publicité, produit, fonctionnalité, service ou tout autre élément disponibles sur de telles
            Plateformes tierces ou résultant de votre utilisation de telles Plateformes tierces. L’utilisation de
            Plateformes tierces est régie par les conditions générales propres auxdites Plateformes tierces.
        </p>
    </article>
    <div class="LineSeparationArticle">
    </div>

    <article>
        <h2 class="Title">Sécurité</h2>
        <p class="Text">
            En utilisant les Services, vous acceptez de prendre des précautions raisonnables lorsque vous interagissez
            avec
            d’autres utilisateurs, en particulier si vous décidez de communiquer en dehors des Services ou de rencontrer
            d’autres utilisateurs en dehors des Services. Dans le cas où vous publiez et/ou divulguez à d’autres
            utilisateurs des informations confidentielles ou sensibles, telles que des informations personnelles (nom,
            adresse postale, adresse e-mail, numéro de téléphone, etc.) ou des informations financières (par exemple,
            des
            informations de carte de crédit ou de compte bancaire), vous le faites à vos risques et périls.
        </p>
    </article>
    <div class="LineSeparationArticle">
    </div>

    <article>
        <h2 class="Title">Responsabilité générale</h2>
        <p class="Text">
            Sous réserve de la législation en vigueur, nous ne pouvons être tenus pour responsables que des dommages
            directs
            que nous causons dans le cas où nous ne fournissons pas les Services conformément aux présentes Conditions
            d’utilisation ainsi qu’aux lois et réglementations en en vigueur. Nous ne pouvons être tenus pour
            responsables
            des dommages subis par un utilisateur dans le cas où les dits dommages sont uniquement causés par ce dernier
            ou
            dans le cas où nous ne sommes pas en violation des présentes Conditions d’utilisation et/ou de nos
            obligations
            légales. Nous ne déclinons ni ne limitons de quelque manière que ce soit notre responsabilité envers les
            utilisateurs lorsqu’il serait illégal de procéder ainsi.
            Nous ne pouvons être tenus pour responsables des pertes d’exploitation. Nous ne fournissons les Services
            qu’à
            des fins domestiques et privées, et l’utilisation commerciale de nos Services est strictement interdite
            comme
            indiqué ci-dessus. Vous êtes entièrement responsable envers nous en cas de violation des présentes
            Conditions
            d’utilisation.
            Modifications des Conditions d’utilisation et des Services
            Nous pouvons mettre à jour et modifier à tout moment le contenu et/ou les fonctionnalités des Services,
            ainsi
            que les présentes Conditions d’utilisation. Cela signifie que nous pouvons ajouter de nouvelles
            fonctionnalités
            ou améliorations de produit de temps à autre, ainsi que supprimer ou modifier certaines fonctionnalités.
            Nous vous recommandons de consulter régulièrement la version la plus récente des Conditions d’utilisation.
            Si de
            telles modifications incluent des modifications importantes apportées à vos droits ou obligations, nous nous
            efforcerons de vous informer à l’avance des modifications apportées à vos Conditions d’utilisation par des
            moyens raisonnables. Toutefois, si de telles modifications ont un impact significatif sur un produit ou
            service
            que vous avez payé par l’intermédiaire des Services, nous sommes tenus de continuer à fournir l’accès à un
            tel
            produit ou service aux mêmes conditions d’utilisation (antérieures) jusqu’à échéance de la période de
            l’Achat en
            cours. Si vous continuez d’utiliser un tel Achat au cours d’une période de renouvellement ultérieure ou si
            vous
            effectuez un nouvel Achat, les Conditions d’utilisation révisées s’appliquent à partir de ce moment et vous
            êtes
            réputé(e) avoir accepté les Conditions d’utilisation modifiées.
        </p>

    </article>
    <div class="LineSeparationArticle">
    </div>
    <article>
        <h2 class="Title">Applicabilité</h2>
        <p class="Text">
            Dans le cas où une ou plusieurs dispositions des Conditions d’utilisation sont jugées inapplicables en vertu
            des
            lois ou règlements applicables ou suite à une décision finale d’un tribunal ou d’une autorité compétente,
            les
            autres dispositions restent pleinement en vigueur dans la mesure permise par la loi, les règlements ou les
            décisions de justice applicables.
        </p>
    </article>
    <div class="LineSeparationArticle">
    </div>
    <article>
        <h2 class="Title">Cession</h2>
        <p class="Text">
            Tous nos droits et obligations en vertu des présentes Conditions d’utilisation sont librement cessibles dans
            le
            cadre d’une fusion, acquisition, vente commerciale ou cession d’actifs, ou par effet de la loi ou autrement,
            sous réserve que nous nous efforcions de garantir que vos droits et obligations ne soient pas affectés par
            une
            telle transaction.
            Demandes et réclamations
            Vous pouvez contacter le Service Client en cas de besoin d’assistance supplémentaire par e-mail :
            support@lightmeet.fr
        </p>
    </article>
    <div class="LineSeparationArticle">
    </div>


    <article>
        <h2 class="Title">Loi applicable – Litiges</h2>
        <p class="Text">
            Les présentes Conditions d’utilisation sont régies, interprétées et appliquées conformément au droit
            français,
            sous réserve de la législation relative aux consommateurs en vigueur dans votre pays de résidence.
            Conformément aux règles applicables à la médiation, avant toute demande de médiation, vous êtes au préalable
            tenu(e) de nous notifier par écrit tout litige avec nous afin de tenter une résolution à l’amiable.
        </p>
    </article>
</section>
{% endblock %}