{% extends 'partner_meet/base_Partner_meet.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'posts/css/style_2.css' %}">
{{ block.super }}
<link rel="stylesheet" href="{% static 'posts/css/style_base.css' %}">
{% endblock %}
<html>
    <body>
    {% block section %}
    <div class="container">
        {% for legal in legals %}
            <article>
                <h2>{{ legal.title }}</h2>
                {% if request.user.is_authenticated %}
                <div>
                    <a href="{% url 'legal_edit' slug=legal.slug %}">Éditer</a>
                    <a href="{% url 'legal_delete' slug=legal.slug %}">Supprimer</a>
                </div>
                {% endif %}
                <h5>Publié par <i>L'équipe juridique de LightMeet</i> le {{ post.created_on|date:'j F Y' }}</h5>
                <p>{{ legal.content|safe|truncatewords:75 }}</p>
                <form action="{% url 'legal_detail' slug=legal.slug %}">
                    <button> Lire l'article juridique</button>
                </form>
            </article>
        {% endfor %}
    </div>
    {% endblock %}
</body>
</html>


