{% extends 'partner_meet/base_Partner_meet.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'legal/css/Legal.css' %}">
{{ block.super }}
<link rel="stylesheet" href="{% static 'partner_meet/css/style_base.css' %}">
{% endblock %}

{% block section %}
<section class="containerMentionLegal">
        <article>
                <h1 class="Titre">Mentions légales</h1>
                <p class="Text">
                        Conformément aux dispositions de la loi n° 2004-575 du 21 juin 2004 pour la confiance en
                        l'économie numérique, il est précisé aux utilisateurs du site LightMeet l'identité des différents
                        intervenants dans le cadre de sa réalisation et de son suivi.
                </p>
        </article>

        <div class="LineSeparationArticle"></div>

        <article>
                <h2 class="Title">Édition du site</h2>
                <p class="Text">
                        Le présent site, accessible à l’URL : www.lightmeet.fr, est édité par :
                        Mickaël Boudengen, résidant 8 Rue de Liège, 64000 PAU, de nationalité française (France), né le
                        16/03/1995.
                </p>
        </article>
        <div class="LineSeparationArticle"></div>
        <article>
                <h2 class="Title">Hébergement</h2>

                <p class="Text">
                        Le site est hébergé par la société OVH SAS, située 2 rue Kellermann - BP 80157 - 59053 Roubaix
                        Cedex 1 (contact téléphonique ou email : 1007).
                </p>
        </article>
        <div class="LineSeparationArticle"></div>
        <article>
                <h2 class="Title">Directeur de publication</h2>
                <p class="Text">
                        Le directeur de la publication du site est Mickaël Boudengen.
                </p>
        </article>
        <div class="LineSeparationArticle"></div>
        <article>
                <h2 class="Title">Nous contacter</h2>
                <p class="Text">
                        Par email : support@lightmeet.fr
                </p>
        </article>
        <div class="LineSeparationArticle"></div>
        <article>
                <h2 class="Title">Données personnelles</h2>
                <p class="Text">
                        Le traitement de vos données à caractère personnel est régi par notre Charte du respect
                        de la vie privée, disponible depuis la section "Charte de protection des données
                        personnelles", conformément au règlement général sur la protection des données 2016/679
                        du 27 avril 2016 (« RGPD »).
                </p>
        </article>
</section>
{% endblock %}
