{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="LightMeet, le premier comparateur de sites de rencontres. Être éclairé pour trouver l'amour.">

    <title>Lightmeet - Votre moteur de recherche pour les rencontres</title>

    {% block css %}
    <link rel="stylesheet" href="{% static 'posts/css/style_base.css' %}">
    {% endblock %}

<link rel="icon" type="image/png" href="{% static 'partner_meet/Logos/L2M.png' %}">
    <link rel="canonical" href="https://www.lightmeet.fr/">
    <meta name="author" content="Lightmeet">
    <meta name="robots" content="index, follow">

    <script async src="https://www.googletagmanager.com/gtag/js?id=AW-16540386379">
</script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'AW-16540386379');
</script>

    <!-- Hotjar Tracking Code -->
    <script>
        (function(h,o,t,j,a,r){
            h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
            h._hjSettings={hjid:4960613,hjsv:6};
            a=o.getElementsByTagName('head')[0];
            r=o.createElement('script');r.async=1;
            r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
            a.appendChild(r);
        })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
    </script>

    <!-- Visitor Tracking -->
    <script async defer src='https://app.visitortracking.com/assets/js/tracer.js'></script>
    <script>
        function init_tracer() {
            var tracer = new Tracer({
                websiteId: "bf6d09fc-7223-4dba-a994-36a534160065",
                async: true,
                debug: false
            });
        }
    </script>
</head>

<body class="container">
    <header>
        <a href="{% url 'Home' %}" class="ListeHeader">
            <img class="LightMeetLogo" src="{% static 'partner_meet/Logos/LightMeet.svg' %}" alt="Logo LightMeet">
        </a>
        <nav class="navPos">
            <button style="color:black; background-color:#FBF1D6; padding: 9px 55px;border: 0.1px solid grey;border-radius:50px; cursor: pointer; font-size: 12px;"
                onclick="window.location.href='{% url 'recherche_home_adulte' %}'">
                {% trans '+ 18 ans' %}
            </button>
            <a href="{% url 'blog_home' %}" class="ListeHeader">Blog</a>
            <a href="{% url 'Support' %}" class="ListeHeader">Contact</a>
        </nav>
        <nav class="navHeader">
            <div class="menuHamburger">
                <div class="line Line1"></div>
                <div class="line Line2"></div>
                <div class="line Line3"></div>
            </div>
            <ul class="navMenu">
                <li><a href="{% url 'recherche_home' %}" class="ListeHeader">Site de rencontres</a></li>
                <li><a href="{% url 'blog_home' %}" class="ListeHeader">Blog</a></li>
                <li><a href="{% url 'Home' %}" class="ListeHeader">FAQ</a></li>
                <li><a href="{% url 'Support' %}" class="ListeHeader">Support</a></li>
            </ul>
        </nav>
    </header>

    {% block content %}
    {% endblock %}

    <footer>
        <div class="footerPc">
            <ul class="ListFooter">
                <li class="linkFooter"><a href="{% url 'Home' %}">® 2025 Lightmeet</a></li>
                <li class="linkFooter"><a href="{% url 'legal_mentions_legales' %}">Mentions légales</a></li>
                <li class="linkFooter"><a href="{% url 'legal_PDC' %}">Politique de confidentialité</a></li>
                <li class="linkFooter"><a href="{% url 'legal_CGU' %}">Conditions générales d'utilisation</a></li>
                <li class="linkFooter"><a href="{% url 'legal_PC' %}">Politique de Cookies</a></li>
            </ul>
        </div>
        <div class="FooterMobile">
            <ul class="ListFooter">
                <li class="linkFooter"><a href="{% url 'Home' %}">® 2025 Lightmeet</a></li>
                <li class="linkFooter"><a href="{% url 'legal_CGU' %}">Conditions générales d'utilisation</a></li>
                <li class="linkFooter"><a href="{% url 'legal_mentions_legales' %}">Mentions légales</a></li>
                <li class="linkFooter"><a href="{% url 'legal_PC' %}">Politique de Cookies</a></li>
                <li class="linkFooter"><a href="{% url 'legal_PDC' %}">Politique de confidentialité</a></li>
            </ul>
        </div>
    </footer>

    <script>
        const menuHamburger = document.querySelector('.menuHamburger');
        const navMenu = document.querySelector('.navMenu');
        menuHamburger.addEventListener('click', function () {
            menuHamburger.classList.toggle('active');
            navMenu.classList.toggle('active');
            document.body.style.overflow = navMenu.classList.contains('active') ? 'hidden' : '';
        });
    </script>
</body>
</html>
