{% extends 'partner_meet/base_Partner_meet.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'posts/css/Blog.css' %}">
{{ block.super }}
<link rel="stylesheet" href="{% static 'partner_meet/css/style_base.css' %}">
{% endblock %}
<html>

<body>
    {% block section %}
    <div class="containerBlog">
    <div class="containerInfoBlog ">
        <article class="cardBlogPost">
            {% if user.is_authenticated %}
            <div>
                <a href="{% url 'blog_edit' slug=post.slug %}">Éditer</a>
                <a href="{% url 'blog_delete' slug=post.slug %}">Supprimer</a>
            </div>
            {% endif %}


    {% endblock %}
</body>

</html>