{% extends 'posts/base_Posts.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'partner_meet/css/style_2.css' %}">
{{ block.super }}
<link rel="stylesheet" href="{% static 'partner_meet/css/style_base.css' %}">
{% endblock %}
<html>
{% block title %}
    <title> Supprimer un article </title>
{% endblock %}

{% block section %}

    <form method="POST">
        {% csrf_token %}
        <p> Êtes-vous sûr de vouloir supprimer {{ object }} </p>
        <input type="submit" value="Oui, supprimer">
    </form>
{% endblock %}