{% extends 'partner_meet/base_Partner_meet.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'posts/css/BlogArticle.css' %}">
{{ block.super }}
<link rel="stylesheet" href="{% static 'partner_meet/css/style_base.css' %}">
{% endblock %}

{% block title %}
<title>{{ post.title }}</title>
{% endblock %}

{% block section %}
<div class="containerArticle">
    <div class="BLogTitlePos">
        <div class="LigneSeparationTitle"></div>
        <h1 class="Title">Blog</h1>
        <div class="LigneSeparationTitle"></div>
    </div>

    <article>
        <h1>{{ post.title }}</h1>
        <div class="TextArticle">{{ post.content|linebreaks|safe }}</div>

    </article>
</div>
{% block javascript %}
<script>
    document.addEventListener("DOMContentLoaded", function () {
        console.log("Document loaded and script executed");

        var paragraphs = document.querySelectorAll(".TextArticle p");
        paragraphs.forEach(function (paragraph) {
            console.log("Paragraph found:", paragraph);
            paragraph.classList.add("custom-paragraph-class");
        });

        var brElements = document.querySelectorAll(".TextArticle br");
        brElements.forEach(function (br) {
            console.log("BR element found:", br);
            br.classList.add("spaced-br");
        });
    });
</script>
{% endblock %}

{% endblock %}

