{% load static %}
<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UV-Compatible" content="ie=edge">
    <meta name="description"
        content="LightMeet, le premier comparateur d'application de rencontres. Être éclairé pour trouver l'amour.  ">
    <title>LightMeet</title>
    {% block css %}
    <link rel="stylesheet" href="{% static 'partner_meet/css/style_base.css' %}">
    {% endblock %}
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-SP9DEQYW1Z"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-SP9DEQYW1Z');
    </script>
    <!-- Google tag (gtag.js) event -->
<!-- Google tag (gtag.js) event -->
<script>
  gtag('event', 'conversion_event_page_view', {
    // <event_parameters>
  });
</script>

    <!-- Hotjar Tracking Code for Site Lightmeet -->
<script>
    (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:4960613,hjsv:6};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
    })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
</script>


</head>

<body class="container">
    {% block content %}{% endblock %}
    <header>
        <a href="{% url 'Home' %}" class="ListeHeader">
            <img class="LightMeetLogo"  src="../../static/partner_meet/Logos/LightMeet.svg" alt="Logo LightMeet">
        </a>
        <nav class="navPos">
            <a href="{% url 'blog_home' %}" class="ListeHeader">Blog</a>
            <a href="{% url 'Contact' %}" class="ListeHeader">Support</a>
        </nav>
    <nav class="navHeader">
        <div class="menuHamburger">
            <div class="line Line1"></div>
            <div class="line Line2"></div>
            <div class="line Line3"></div>
        </div>
        <ul class="navMenu">
            <li><a href="{% url 'blog_home' %}" class="ListeHeader">Site de rencontres</a></li>
            <li><a href="{% url 'blog_home' %}" class="ListeHeader">Thérapeutes</a></li>
            <li><a href="{% url 'blog_home' %}" class="ListeHeader">Blog</a></li>
            <li><a href="{% url 'blog_home' %}" class="ListeHeader">FAQ</a></li>
            <li><a href="{% url 'Contact' %}" class="ListeHeader">Support</a></li>
        </ul>
    </nav>
    </header>
    {% block aside %}
    {% endblock %}
    {% block section %}
    {% endblock %}
    {% block footer %}
    <footer>
        <div class="footerPc">
            <ul class="ListFooter">
                <a class="linkFooter" href="{% url 'Home' %}">
                    <li>® Lightmeet</li>
                </a>
                <a class="linkFooter" href="{% url 'legal_mentions_legales' %}">
                    <li>Mentions légales</li>
                </a>
                <a class="linkFooter" href="{% url 'legal_PDC' %}">
                    <li>Politique de confidentialité</li>
                </a>
                <a class="linkFooter" href="{% url 'legal_CGU' %}">
                    <li>Conditions générales d'utilisation</li>
                </a>
                <a class="linkFooter" href="{% url 'legal_PC' %}">
                    <li>Politique de Cookies</li>
                </a>
            </ul>
        </div>
        <div class="FooterMobile">
                <a class="linkFooter" href="{% url 'Home' %}">
                    <h3 class="signature">® 2024 LightMeet</h3>
                </a>
            <ul class="ListFooter">
                <a class="linkFooter" href="{% url 'legal_CGU' %}">
                    <li>Conditions générales d'utilisation</li>
                </a>

                <a class="linkFooter" href="{% url 'legal_mentions_legales' %}">
                    <li>Mentions légales</li>
                </a>

                <a class="linkFooter" href="{% url 'legal_PC' %}">
                    <li>Politique de Cookies</li>
                </a>

                <a class="linkFooter" href="{% url 'legal_PDC' %}">
                    <li>Politique de confidentialité</li>
                </a>

            </ul>
        </div>
    </footer>
    {% endblock %}
    <script>
        const menuHamburger = document.querySelector('.menuHamburger');
        const navMenu = document.querySelector('.navMenu');
        menuHamburger.addEventListener('click', function () {
            menuHamburger.classList.toggle('active');
            navMenu.classList.toggle('active');
            if (navMenu.classList.contains('active')) {
                document.body.style.overflow = 'hidden';
            } else {
                document.body.style.overflow = '';
            }
        });

    </script>
</body>

</html>