{% extends 'partner_meet/base_Partner_meet.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'partner_meet/css/style_2.css' %}">
{{ block.super }}
<link rel="stylesheet" href="{% static 'partner_meet/css/style_base.css' %}">
{% endblock %}

{% block section %}


<h1 class="Title">Éclairez vos rencontres</h1>
<h2 class="SubTitle">Trouvez le site de rencontre qui vous correspond.</h2>

<a href="{% url 'recherche_home' %}">
    <button class="call-to-action call-to-action-comparer">Comparer</button>
</a>


<div class="call-to-action-container" style="display: table;">
    <div style="display: table-row;">
        <div style="display: table-cell; vertical-align: middle; text-align: center;">
            <a href="{% url 'Home' %}" class="ListeHeader" style="display: inline-block;">
                <img class="LightMeetLogo" src="../../static/partner_meet/Logos/LightMeet.svg" alt="" style="max-width: 100%; height: auto;">
            </a>
        </div>
        <div style="display: table-cell;">
            <main style="margin: 0 auto; max-width: 500px;">
                <h2>
                    <b> Votre vie privée nous tient à coeur </b>
                </h2>
                <p>
                    Pour personnaliser votre expérience, nous collectons des informations
                    sur la façon dont vous utilisez LightMeet, ce qui inclut les données
                    personnelles telles que votre adresse IP. Ces informations sont
                    utilisées pour améliorer votre expérience, stocker les informations
                    contenues sur un appareil et y accéder, ainsi que pour la publicité
                    personnalisée, les mesures de rendement de la publicité, les études
                    sur l'audience et le développement des services. Pour en savoir plus,
                    consultez notre Politique en matière de cookies.
                </p>
                <p>
                    LightMeet et ses 100 partenaires peuvent se baser sur l'intérêt
                    légitime à certaines fins, plutôt que sur le consentement. Cliquez sur
                    * Préférences en matière de cookies » pour avoir plus d'informations à
                    ce sujet et savoir comment vous y opposer, ou sélectionnez * OK » afin
                    d'autoriser tous les cookies
                </p>
            </main>
        </div>
        <div style="display: table-cell;">
            <aside style="display: table;">
                <div style="display: table-row;">
                    <div style="display: table-cell;">
                        <a href="{% url 'recherche_home' %}">
                            <button class="callToAction call-to-action-comparer">OK</button>
                        </a>
                    </div>
                </div>
                <div style="display: table-row;">
                    <div style="display: table-cell;">
                        <a href="{% url 'Home' %}">
                            <button class="callToAction buttonWhite call-to-action-comparer">Paramètres des cookies</button>
                        </a>
                    </div>
                </div>
                <div style="display: table-row;">
                    <div style="display: table-cell;">
                        <p style="margin: 0 auto; max-width: 500px;" >Gérez vos préférences ou retirez votre consentement à tout moment sur la page Paramètres de confidentialité, dont le lien se situe en pied de page.</p>
                    </div>
                </div>
            </aside>
        </div>
    </div>
</div>

<div class="containerListing">
    <ul class="listComparateur">
        <li>Trouvez l'application de rencontres qui correspond à vos besoins réels.</li>
        <li>Gagnez du temps et de l’argent en comparant facilement en 1 clic.</li>
        <li>Découvrez l’ensemble des sites de rencontres du marché.</li>
        <li>Comparez les différents abonnements proposés par les sites de rencontres.</li>
    </ul>
    <button class="buttonInfoComparateur"> En voir plus </button>
</div>
<div class="call-to-action-container">
    <div class="callToActionSite">
        <a href="{% url 'recherche_home' %}">
            <button class="callToAction call-to-acti on-comparer">Sites de rencontres</button>
        </a>
        <a href="{% url 'Home' %}">
            <button class="callToAction buttonWhite call-to-action-comparer">Thérapeutes</button>
        </a>
    </div>
</div>
<h2 class="TitleImgSite">Derniers articles mis en ligne</h2>
<div class="boxesContainer">
    {% for post in posts %}
        <div class="boxSite">
            <div class="image-container">
                <img src="{% static 'posts/Logos/2.png' %}" class="imageSite" alt="Lightmeet Blog">
            </div>
            <p class="TextImgSitePresentation"> {{ post.title }}</p>
            <p class="TextImgSitePresentationHtag"> <em> #DevenirMarqueReconnue #ApprocheInclusive #NormesGenre #StratégieMarque  </em>
            </p>
        </div>

    {% endfor %}
</div>

{% endblock %}
        </body>

</html>