{% extends 'partner_meet/base_Partner_meet.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'partner_meet/css/style_2.css' %}">
{{ block.super }}
<link rel="stylesheet" href="{% static 'partner_meet/css/style_base.css' %}">
{% endblock %}

{% block section %}
<h1 class="Title">Éclairez vos rencontres</h1>
<h2 class="SubTitle">Trouvez le site de rencontre qui vous correspond</h2>

<a href="{% url 'recherche_home' %}">
    <button class="call-to-action call-to-action-comparer">Rechercher</button>
</a>
<div class="boxes">
    <div class="box">
        <p>Comparaison rapide et gratuite</p>
    </div>
    <div class="box">
        <p>Gain de temps précieux</p>
    </div>
    <div class="box">
        <p>+ 100 sites de rencontres sélectionnés avec soin</p>
    </div>
</div>
<h2>Le comparateur qui répond à vos besoins réels pour trouver l’application qui <strong>VOUS</strong> correspond</h2>
<ul>
    <li>Trouvez l'application de rencontres qui correspond à vos besoins réels</li>
    <li>Gagnez du temps et de l’argent en comparant facilement en 1 clic</li>
    <li>Découvrez l’ensemble des sites de rencontres du marché</li>
    <li>Comparez les différents abonnements proposés par les sites de rencontres</li>
</ul>
<div class="call-to-action-container">
    <div class="call-to-action-title">
        <h1>Comparez le meilleur du domaine de la rencontre</h1>
    </div>
    <div class="call-to-action-site">
        <button class="call-to-action">Sites de rencontres</button>
        <button class="call-to-action">Thérapeutes</button>
    </div>
</div>
<div class="boxes">
    <div class="box">
        <div class="image-container">
            <img src="{% static 'posts/Logos/1.png' %}" alt="Lightmeet Blog" style="width: 200px; height: 150px;">
        </div>
        <p>{{ post.title }}</p>
        <p>{{ post.description }}</p>
    </div>
    <div class="box">
        <div class="image-container">
            <img src="{% static 'posts/Logos/2.png' %}" alt="Lightmeet Blog" style="width: 200px; height: 150px;">
        </div>
        <p>{{ post.title }}</p>
        <p>{{ post.description }}</p>
    </div>
    <div class="box">
        <div class="image-container">
            <img src="{% static 'posts/Logos/3.png' %}" alt="Lightmeet Blog" style="width: 200px; height: 150px;">
        </div>
        <p>{{ post.title }}</p>
        <p>{{ post.description }}</p>
    </div>
</div>

{% endblock %}
</body>
</html>
