{% extends 'partner_meet/base_Partner_meet.html' %}

{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'partner_meet/css/style_3.css' %}">
{{ block.super }}
<link rel="stylesheet" href="{% static 'partner_meet/css/style_base.css' %}">
{% endblock %}
<html>
    <body>
    {% block section %}
    <div class="container">
        <h1>Analyse du comparateur</h1>
        {% for site in sites %}
            <article>
                <h2>{{ site.nom }}</h2>
                <img src="{{ site.logo.url }}" alt="{{ site.nom }} Logo">
                <p>Genre recherché : {{ site.genre_find }}</p>
                <p>Relation : {{ site.relation }}</p>
                <p>Tranche d'âge : {{ site.age }}</p>
                <a href="{{ site.url }}">Visiter le site</a>
            </article>
        {% empty %}
            <p>Aucun site de rencontre trouvé pour le moment.</p>
        {% endfor %}
    </div>
    {% endblock %}
</body>
</html>