{% extends 'partner_meet/base_Partner_meet.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'partner_meet/css/style_3.css' %}">
{{ block.super }}
<link rel="stylesheet" href="{% static 'partner_meet/css/style_base.css' %}">
{% endblock %}
{% block section %}
<html lang="fr">
<body>
    <!--j'ai rajouter les buttons connexion et blog dans la base_partner_meet.html-->
    <main>
    <h1>Comparateur de sites de rencontres</h1>
    <p>Vous êtes à la recherche de l'amour mais vous hésitez entre plusieurs plateformes de rencontre en ligne?</p>
    <p>LightMeet vous offre un outil de comparaison de sites de rencontre inégalé, vous permettant de comparer gratuitement jusqu'à 4 plateformes selon différents critères : le genre des utilisateurs, la tranche d'âge ciblée et le type de relation recherché</p>
    <p>Ne perdez plus de temps pour trouver cette personne.</p>
    <p>Avec LightMeet, trouvez la plateforme qui correspond parfaitement à vos attentes et à vos besoins pour une expérience amoureuse enrichissante.</p>
    <section class="recherche">
      <h2>Recherchez</h2>
      <form action="#">
        <label for="genre">Genre</label>
        <select name="genre" id="genre">
          <option value="femmes">Femmes</option>
          <option value="hommes">Hommes</option>
          <option value="tous">Tous</option>
        </select>
        <label for="relation">Relation</label>
        <select name="relation" id="relation">
          <option value="serieuses">Sérieuses</option>
          <option value="amicales">Amicales</option>
          <option value="tous">Tous</option>
        </select>
        <label for="age">Tranche d'âge</label>
        <select name="age" id="age">
          <option value="18-25">18-25 ans</option>
          <option value="25-35">25-35 ans</option>
          <option value="35-45">35-45 ans</option>
          <option value="45-55">45-55 ans</option>
          <option value="plus">Plus de 55 ans</option>
        </select>
        <button type="submit">Rechercher</button>
      </form>
    </section>
    <section class="comparateur">
      <h2>Choisissez vos sites de rencontre à comparer</h2>
      <ul>
        <li>
          <input type="checkbox" id="site1">
          <label for="site1">Site 1</label>
        </li>
        <li>
          <input type="checkbox" id="site2">
          <label for="site2">Site 2</label>
        </li>
        <li>
          <input type="checkbox" id="site3">
          <label for="site3">Site 3</label>
        </li>
        <li>
          <input type="checkbox" id="site4">
          <label for="site4">Site 4</label>
        </li>
      </ul>
      <button type="button">Comparez</button>
    </section>
  </main>
  <footer>
    <p>&copy; 2024 LightMeet</p>
    <a href="#">Mentions légales</a>
    <a href="#">Politique de confidentialité</a>
    <a href="#">Politique de cookies</a>
  </footer>
{% endblock %}
</body>
</html>