{% extends 'partner_meet/base_Partner_meet.html' %}
{% load static %}
{% load i18n %}
{% block css %}
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=AW-16540386379"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'AW-16540386379');
</script>

<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-TLZMTBDC');</script>
<!-- End Google Tag Manager -->
<!-- Event snippet for GADS - Elite Rencontre + 50 conversion page
In your html page, add the snippet and call gtag_report_conversion when someone clicks on the chosen link or button. -->
<script>
function gtag_report_conversion(url) {
  var callback = function () {
    if (typeof(url) != 'undefined') {
      window.location = url;
    }
  };
  gtag('event', 'conversion', {
      'send_to': 'AW-16540386379/CFbeCM6Kgr0ZEMuIic89',
      'value': 5.0,
      'currency': 'EUR',
      'event_callback': callback
  });
  return false;
}
</script>




<link rel="stylesheet" href="{% static 'partner_meet/css/style_base.css' %}">
{{ block.super }}
<link rel="stylesheet" href="{% static 'partner_meet/css/SearchPage.css' %}">
{% endblock %}


{% block section %}
<div class="ButtonPos">
    <button class="buttonOtherSearh " onclick="window.location.href=`{% url 'recherche_home' %}`">
        Rencontres
    </button>
    <button class="buttonOtherSearh selectButton" onclick="window.location.href=`{% url 'recherche_therapeutes' %}`">
        Thérapeutes
    </button>
</div>

<div class="containerResultats">
        <p class="Resultats" >La sélection Lightmeet</p>
        {% for partner in partnermeet|dictsort:"ranking" %}
            {% if partner.affiliation %}
            <div class="cardApp VersionPC">
                <div class="alignItems">
                    <img class="SizeImgCard" src="{{ partner.LOGO.url }}" alt="{{ partner.nom }} Logo">
                    <div class="containerTitleCard">
                        <div class="PosStar">
                            <h3 class="TitleCard">{{ partner.nom }}</h3>
                            <p class="rating-container" data-rating="{{ partner.trustpilot }}"></p>
                        </div>
                        <p class="textCard">{{ partner.description }}</p>
                        <div class="PosFlag">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="22" viewBox="0 0 35 22">
                                <rect width="11.6667" height="22" fill="#0055A4"/>
                                <rect x="11.6667" width="10.6667" height="22" fill="#FFFFFF"/>
                                <rect x="23.3333" width="10.6667" height="22" fill="#EF4135"/>
                            </svg>
                            <p class="pays">France</p>
                        </div>
                    </div>
                </div>
                <div class="Line"></div>
                <p class="descriptionCard bold">{{ partner.prix_avg }}€</p>
                <div class="Line"></div>
                <p class="descriptionCard bold">{{ partner.age }} ans</p>
                <div class="Line"></div>
                <p class="descriptionCard">+ {{ partner.Visites_France }} Visites / mois</p>
                <div class="Line"></div>
                <button class="buttonVisit" onclick="return gtag_report_conversion('{{ partner.url }}')">Visiter</button>
            </div>

            <div class="cardApp VersionMobile">
                <div class="alignItems">
                    <img class="SizeImgCard" src="{{ partner.LOGO.url }}" alt="{{ partner.nom }} Logo">
                    <div class="containerTitleCard">
                        <div class="PosStar">
                            <h3 class="TitleCard">{{ partner.nom }}</h3>
                            <p class="rating-container" data-rating="{{ partner.trustpilot }}"></p>
                        </div>
                        <p class="textCard">{{ partner.description }}</p>
                        <div class="PosFlag">
                            <svg xmlns="http://www.w3.org/2000/svg" width="14" height="10" viewBox="0 0 14 10">
                                <rect width="4.6667" height="10" fill="#0055A4"/>
                                <rect x="4.6667" width="4.6667" height="10" fill="#FFFFFF"/>
                                <rect x="9.3334" width="4.6667" height="10" fill="#EF4135"/>
                            </svg>
                            <p class="pays">France</p>
                        </div>
                    </div>
                </div>
                <div class="alignItemsButton">
                    <div class="containerDescription">
                        <p class="descriptionCard bold">{{ partner.prix_avg }}€</p>
                        <p class="descriptionCard bold">{{ partner.age }} ans</p>
                        <p class="descriptionCard">+ {{ partner.Visites_France }} Visites / mois</p>
                    </div>
                    <button class="buttonVisit" onclick="return gtag_report_conversion('{{ partner.url }}')">></button>
                </div>
            </div>
            {% endif %}
        {% empty %}
        <div class="empty-message" id="resultats">
            <p>Ces sites de rencontres sont actuellement étudiés par <i>Lightmeet</i></p>
            <p style="text-align:center;"><strong style="font-size:30px;">BIENTÔT disponible</strong></p>
        </div>
        {% endfor %}
    </div>
<!--<div class="sites-de-rencontres">
    <div class="containerBackground">
        <form method="get" action="{% url 'recherche_meilleur_site' %}#resultats">
            {% csrf_token %}
            <div class="containerCardSelector">
                <div class="CardSelector">
                    <h2>Catégorie</h2>
                    <select class="selector" name="categorie">
                        {% for categorie_key, categorie_label in CATEGORIE_CHOICES %}
                        <option value="{{ categorie_key }}">{{ categorie_label }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="CardSelector">
                    <h2>Relation</h2>
                    <select class="selector" name="relation">
                        {% for relation_key, relation_label in RELATION_CHOICES %}
                        <option value="{{ relation_key }}">{{ relation_label }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="CardSelector">
                    <h2>Tranche d'âge</h2>
                    <select class="selector" name="age">
                        {% for age_key, age_label in AGE_CHOICES %}
                        <option class="optiontest" value="{{ age_key }}">{{ age_label }} ans</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="PosSearch">
                <div class="PosFilter">
                    <p>Filtre populaire : </p>
                    <div>
                        <input type="checkbox" name="checkbox" id="partner" />
                        <label for="partner">Partenaires affiliés</label>
                    </div>
                </div>
                <button class="ButtonSearch" type="submit">Rechercher</button>
            </div>
        </form>
    </div>
</div>-->
{% endblock %}