{% extends 'partner_meet/base_Partner_meet.html' %}
{% load static %}

{% block css %}

<link rel="stylesheet" href="{% static 'partner_meet/css/SearchPage.css' %}">
{{ block.super }}
<link rel="stylesheet" href="{% static 'partner_meet/css/style_base.css' %}">
{% endblock %}


{% block section %}
<div class="ButtonPos">
    <button class="buttonOtherSearh">Rencontres</button>
    <button class="buttonOtherSearh">Thérapeutes</button>
</div>
<div class="sites-de-rencontres">
    <div class="containerBackground">
        <form method="get" action="{% url 'recherche_meilleur_therapeutes' %}">
            {% csrf_token %}
            <div class="containerCardSelector">
                <div class="CardSelector">
                    <h2>Département</h2>
                    <select class="selector" name="departement">
                        {% for departement_key, departement_label in DEPARTEMENT_CHOICES %}
                        <option value="{{ departement_key }}">{{ departement_label }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="CardSelector">
                    <h2>Diplôme</h2>
                    <select class="selector" name="diplome">
                        {% for diplome_key, diplome_label in DIPLOME_CHOICES %}
                        <option value="{{ diplome_key }}">{{ diplome_label }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="CardSelector">
                    <h2>Spécialité</h2>
                    <select class="selector" name="specialite">
                        {% for specialite_key, specialite_label in SPECIALITE_CHOICES %}
                        <option class="optiontest" value="{{ specialite_key }}">{{ specialite_label }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
<div class="PosSearch">
            <div class="PosFilter">
               <p>Filtres populaires : </p>
            <div>
                <input type="checkbox" name="checkbox" id="partner" />
                <label for="partner">Thérapeutes affiliés</label>
            </div>

            <div>
                <input type="checkbox" name="checkbox" id="free" />
                <label for="free">Émission de C02 du site web</label>
            </div>
 </div>

                <button  class="ButtonSearch" type="submit">Recherchez</button>
            </div>
        </form>
    </div>
</div>

{% endblock %}