/* partie barre de recherche  */

.logo-link {
    margin: 1em;
    border-radius: 1em;
    font-style: none;
    color: #000000;
    font-style: normal;
    text-decoration: none;
}

.TitleList {
    text-align: center;
    margin-top: 3em;
    margin-bottom: 2em;
}


/*  page avec barre de recherche                     */
.sites-de-rencontres {
    background: url(../Logos/Background.png);
    background-size: cover;
    width: 100%;
    min-height: 75vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: center 50%;
}

.PosSearch {
    width: 100%;
    margin-top: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.containerBackground {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.containerCardSelector {
    display: flex;
    width: 100%;
    gap: 1em;
    justify-content: space-around;
}

.PosFilter {
    display: flex;
    align-items: center;
    gap: 1em;
    font-weight: bold;
}

form {
    background-color: #FBF1D6;
    padding: 2em 2em 2em 2em;
    border-radius: 1em;
    width: 75%;
}

.CardSelector h2 {
    font-size: 1em;
    margin-left: 10px;
}

.CardSelector {
    width: 100%;
}

.selector:hover {
    border: none;
}

.optiontest {
    border: 1px 1px solid white;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.selector {
    width: 100%;
    height: 65px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: none;
    border-radius: 1em;
    padding-left: 2em;
    padding-right: 1em;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-size: 16px;
    position: relative;
    cursor: pointer;
    color: black;
    background-color: #FBFBFB;
    background-image: url('data:image/svg+xml;utf8,<svg width="10" height="8" viewBox="0 0 10 8" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M5 8L0.669872 0.5L9.33013 0.5L5 8Z" fill="black" /></svg>');
    background-repeat: no-repeat;
    background-position: calc(100% - 20px) center;
}

.buttonOtherSearh {
    width: 300px;
    height: 70px;
    border-radius: 30px 30px 0px 0px;
    opacity: 0px;
    background-color: #FBF1D6;
    border: none;
    font-size: 1.3em;
    font-weight: bold;
    color: black;
}


button .a{
    text-decoration:none;
}
a {
    color: #000000;
}
.ButtonPos {
    margin-top: 4em;
    display: flex;
    width: 80%;
    justify-content: flex-start;
    gap: 1em;
}

.ButtonSearch {
    background-color: #0D0C22;
    color: #FBFBFB;
    border: none;
    border-radius: 2em;
    font-size: 1em;
    font-weight: bold;
    padding: 1em 2em 1em 2em;
    box-shadow: 0.5px 2px 4px 0.001px #0000009b;
}

.ButtonSearch:active {
    transform: translateY(1px);
    box-shadow: 0px 1px 2px 0px #000000;
}




/* partie Résultats   */
.VersionMobile {
    display: none;
    background-color: violet;
}

.containerApp {
    display: flex;
    flex-direction: column;
    gap: 3em;
}

.cardApp {
    margin-top: 0.7em;
    margin-bottom: 0.7em;
    align-items: center;
    padding: 0.5em;
    display: flex;
    width: 100%;
    flex-direction: row;
    background: linear-gradient(#FFFFFF, #FBF1D6);
    border-radius: 1em;
    gap: 0.3em;
    justify-content: space-between;
    box-shadow: 0px 4px 4px 0px #00000080;
}

.descriptionCard {
    text-align: center;
}

.bold {
    font-weight: bold;
}

.PosFilterResultats {
    display: flex;
    justify-content: flex-end;
    gap: 2em;
    width: 70%;
}

.FitlerResultats {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 1em;
    align-items: center;
}

.ButtonFitlerResultats {
    background-color: #00000000;
    border: none;
    height: 100%;
    width: 100%;
    font-size: 1em;

}

.colorBG{
    background-color: #00000000;
    padding: 0em;
    width: 160Px;
    border: none;
}

.PosResultats{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 30px;
}

p.Resultats {
    font-size: 3.2em;
    margin: 1.1em 0em 1.1em 0em;
    font-family: '-apple-system', 'BlinkMacSystemFont', 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 100;}

.containerResultats {
    width: 95%; /* Réduit pour optimiser l'affichage */
    position: relative;
    background: url('../Logos/Background.webp'); /* Utilisation du format .webp pour une meilleure compression */
    background-size: cover;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    min-height: 50vh;
    padding: 10px; /* Ajout d'un peu de padding pour aérer le contenu */
    border-radius: 8px; /* Ajout de coins arrondis pour un design plus moderne */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Légère ombre pour un meilleur contraste visuel */
    overflow: hidden; /* Assure que le contenu ne dépasse pas */
}

a {
    color: black;
}

.PosFlag {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 5px;
}

.TitleCard {
    font-size: 1.3em;
    align-items: center;
    display: flex;
    align-items: center;
    margin: 0;
}

.textCard {
    width: 60%;
    margin: 0;
    font-size: 0.9em;
}

.alignItems {
    display: flex;
    align-items: center;
}

.PosStar {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5%;
    width: 100%;
}

.PosStar p {
    display: flex;
}


.rating-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 0%;
    align-items: center;
}

.rating-container p {
    margin: 0;
}

.containerTitleCard {
    margin-left: 20px;
}

.Line {
    height: 70px;
    width: 1px;
    background-color: #00000033;
}

.SizeImgCard {
    width: 120px;
    height: 100%;
    border-radius: 30px;
    box-shadow: 0px 4px 4px 0px #00000040;
}

.buttonVisit {
    background-color: #000000;
    color: #FBFBFB;
    border-radius: 2em;
    border: 1px solid black;
    box-shadow: 0px 2px 1px 0.1px #000000;
    font-size: 1.2em;
    padding: 0.5em 1em 0.5em 1em;
    margin-right: 20px;

}

.buttonVisit:active {
    transform: translateY(1px);
    box-shadow: 0px 1px 2px 0px #000000;
}

.pays {
    margin: 0;
}

.VersionMobile {
    display: none;
}


@media(max-width: 1660px) {
    .sites-de-rencontres {
        background: url(../Logos/Background.png);
        background-size: cover;
        width: 100%;
        height: 70vh;
        background-position: center 50%;
    }

    form {
        background-color: #FBF1D6;
        padding: 1em 2em 1em 2em;
        border-radius: 1em;
        width: 90%;
    }

    .selector {
        height: 45px;
    }

    .ButtonPos {
        margin-top: 4em;
        display: flex;
        width: 90%;
        justify-content: flex-start;
        gap: 1em;
    }

}

@media(max-width: 1200px) {
    .containerResultats {
        width:95%;
    }
}

@media(max-width: 1030px) {
    .sites-de-rencontres {
        background: url(../Logos/Background.png);
        background-size: cover;
        width: 100%;
        height: 80vh;
        background-position: center 50%;
    }
}

@media(max-width: 992px) {
    .containerResultats {
        width: 95%;
    }

    .SizeImgCard {
        width: 100px;
        height: 100%;
        border-radius: 30px;
        box-shadow: 0px 4px 4px 0px #00000040;
    }
}

.ButtonPos {
    margin-top: 4em;
    display: flex;
    width: 95%;
    justify-content: flex-start;
    gap: 1em;
}
  .PosFitlerResultats {
      display: flex;
  }
@media(max-width: 768px) {
    .VersionMobile {
        display: flex;
        justify-content:center;
        font-size: 3.2em;
        margin: 1.1em 0em 1.1em 0em;
        font-family: '-apple-system', 'BlinkMacSystemFont', 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: 100;
    }
    .sites-de-rencontres{
        height: 100%;
    }

    form{
        margin-top: 1em;
        margin-bottom: 1em;
    }
    .PosSearch {

        justify-content: space-between;
        flex-direction: column;
    }

    .containerCardSelector {
        flex-direction: column;
    }

    .PosFilter {
        flex-direction: column;
        margin-bottom: 2em;
        align-items: flex-start;
    }

    .PosFilter p {
        margin: 0px;
    }

    form {
        background-color: #FBF1D6;
        padding: 1em 1em 0em 1em;
        border-radius: 1em;
        width: 100%;
    }

    .ButtonSearch {
        margin-bottom: 1em;
    }

    .CardSelector h2 {
        font-size: 1em;
        margin-top: 0px;
        margin-bottom: 10px;
    }

    .buttonOtherSearh {
        width: 200px;
        height: 50px;
        font-size: 1em;
    }

    .ButtonPos {
        width: 100%;
        margin-top: 3em;
    }

    header {
        height: 0px;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-top: 5em;
        margin-bottom: 3em;
    }

    .VersionPC {
        display: none;
    }

    .sizeStar {
        width: auto;
        height: 15px;
    }

    .TitleCard {
        font-size: 12px;
    }

    .SizeImgCard {
        width: 60px;
        height: 100%;
        border-radius: 10px;
        box-shadow: 0px 4px 4px 0px #00000040;
    }

    .containerTitleCard {
        margin-left: 6px;
    }

    .buttonVisit {
        margin: 0;
        padding: 0.2em 0.4em 0.2em 0.4em;
        border-radius: 8px;
        font-size: 15px;
        box-shadow: 0px 0px 0px 0px #000000;
    }

    .alignItemsButton {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 60%;
        gap: 0.6em;
        margin-right: 6px;
    }

    .containerDescription p {
        margin: 3px;
        font-size: 10px;
    }

    .textCard {
        font-size: 10px;
        width: 60%;
        margin-top: 3px;
        margin-bottom: 3px;
    }

    .cardApp {
        margin-top: 0.4em;
        margin-bottom: 0.4em;
        padding: 0.4em;
        width: 97%;
    }

    .alignItems {
        display: flex;
        align-items: center;
        width: 90%;
    }

    .pays {
        font-size: 10px;
    }

    .PosFlag {
        margin: 0;
    }

    .Resultats {
        font-size: 15px;
        justify-content:center;
    }

    .ButtonFilterResultats {
        display: none;
    }

    .containerResultats {
        margin-bottom: 2em;
    }

    .PosFitlerResultats{
        display: none;
    }
}