.Inscription {
    padding: 15px;
    z-index: 400;
    border-radius: 5px;
    color:black;
    text-decoration: none;
}

.logolightmeet {
    color: black;
    text-decoration: none;
}

.Support {
    margin: 0px 0px 0px 60%;
    font-size: 13px;
    color: black;
    text-decoration: none;
}


.Contact {
    z-index: 200;
    margin: 0px 0px 0px 0%;
    font-size: 13px;
    color: black;
    text-decoration: none;
}

.Prenom {
    z-index: 200;
    color: black;
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
}

.Connect {
    z-index: 200;
    padding: 0.3em 0.4em 0.3em 0.4em;
    border-radius: 5px;
    background:white;
    color: black;
    text-decoration: none;
}

.container {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}



.NavHeader {
    margin-right: 2.3em;
    display: flex;
    justify-content: space-around;
}

header {
    margin-top: 0.3em;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 85px;
    background: transparent;
    font-family: '-apple-system', 'BlinkMacSystemFont', 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 100;
    color: black;
    transition: all 2s ease;
    font-weight: 100;
    width: 100%;
    font-family: '-apple-system', 'BlinkMacSystemFont', 'sans-serif', 'system-ui';
    font-size: 14px;
    height: 85px;
    z-index: 200;
}

.logoListen {
    margin: 2.3em;
}

.ListeHeader {
    display: flex;
    padding: 0;
    margin: 0;
    gap: 1em;
    list-style: none;
    align-items: center;
}

body {
    background: #FBFBFB;
    font-family: '-apple-system', 'BlinkMacSystemFont', 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 100;
    color: black;
    transition: all 2s ease;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
}

/* --------------------footer--------------------------------- */

footer {
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    width: 100%;
    height: 100%;
    padding: 20px 0px 20px 0px;
    z-index: 999;
    font-size: 14px;
    background-color: #FBF1D6;
    font-family: '-apple-system', 'BlinkMacSystemFont', 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 100;
    color: black;
    transition: all 2s ease;
}

.ListFooter {
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 0;
}

.linkFooter {
    text-decoration: none;
    color: black;
}

.Social {
    margin: 0em 0em 0em -7%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: center;
    list-style: none;
}


.Facebook,
.Instagram,
.Linkedin {
    padding: 1em;
    z-index: 100;
    width: 2em;
    height: auto;
}

@media(max-width:992px) {

    .Social {
        margin: 0em 0em 0em -5%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        justify-content: center;
        list-style: none;
    }

    .Facebook,
    .Instagram,
    .Linkedin {
        padding: 0.5em;
        z-index: 100;
        width: 2em;
        height: auto;
    }

    footer {
    padding: 0px 0px 0px 0px;
    background:transparent;
    font-family: '-apple-system', 'BlinkMacSystemFont', 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 100;
    color: black;
    transition: all 2s ease;
    }

    .Contact,
    .Connect,
    .Prenom {
        font-size: 1.2em;
    }
}

@media(max-width:768px) {


    .ListFooter {
        flex-direction: row;
        flex-wrap: wrap;
        align-content: normal;
        justify-content: center;
        list-style: none;
        padding: 0;
        margin: 0;
        margin-top: 1em;
        margin-bottom: 1em;
    }

    footer {
        padding-top: 1em;
        padding-bottom: 1em;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        background: transparent;
    font-family: '-apple-system', 'BlinkMacSystemFont', 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 100;
    color: black;
    transition: all 2s ease;
    }

    .ListFooter li {
        text-align: left;
        padding: 0.5em 1em 0.5em 1em;
    }



    .Contact,
    .Connect,
    .Prenom {
        font-size: 1em;
    }
.logoListen {
    margin: 1em;
}
 .NavHeader {
     margin-right: 1em;

 }
 .ListeHeader{
    gap: 1.3em;

 }
