@media(max-width:992px){  header {
        background-color: transparent; /* Header sans couleur */
    }
    .call-to-action-container {
        background-color: #FBF1D6; /* Couleur du footer */
        padding: 20px; /* Espacement interne */
        border-radius: 5px; /* Arrondi des coins */
        margin-bottom: 20px; /* Marge en bas */
        width: 100%; /* Largeur à 100% */
    }
    .call-to-action {
        background-color: black; /* Couleur de fond des boutons */
        border-radius: 40px; /* Arrondi des coins */
        width: 160px; /* Largeur des boutons */
        height: 60px; /* Hauteur des boutons */
        margin-right: 10px; /* Marge à droite des boutons */
        border: none; /* Supprimer la bordure */
        cursor: pointer; /* Curseur au survol */
        color: white; /* Couleur du texte */
        margin:20px 0px 20px 0px;
        font-size: 16px; /* Taille du texte */
    }
    .call-to-action-site {
        display: flex; /* Utiliser le modèle de boîte flex */
        justify-content: center; /* Centrer horizontalement les éléments */
    }
    .box {
        background-color: #FBF1D6; /* Couleur de la box */
        width: 200px; /* Largeur de la box */
        height: 150px; /* Hauteur de la box */
        margin: 10px; /* Marge autour de la box */
    }
    .boxes {
        display: flex; /* Utiliser le modèle de boîte flex */
        justify-content: space-evenly; /* Espacement égal entre les boxes */
    }
    .call-to-action-title {
        display: flex; /* Utiliser le modèle de boîte flex */
        justify-content: center; /* Centrer horizontalement */
        align-items: center; /* Centrer verticalement */
    }
}


@media(min-width:992px){
    header {
        background-color: transparent; /* Header sans couleur */
    }
    .call-to-action-container {
        background-color: #FBF1D6; /* Couleur du footer */
        padding: 20px; /* Espacement interne */
        border-radius: 5px; /* Arrondi des coins */
        margin-bottom: 20px; /* Marge en bas */
        width: 100%; /* Largeur à 100% */
    }
    .call-to-action {
        background-color: black; /* Couleur de fond des boutons */
        border-radius: 40px; /* Arrondi des coins */
        width: 160px; /* Largeur des boutons */
        height: 60px; /* Hauteur des boutons */
        margin-right: 10px; /* Marge à droite des boutons */
        border: none; /* Supprimer la bordure */
        cursor: pointer; /* Curseur au survol */
        color: white; /* Couleur du texte */
        margin:20px 0px 20px 0px;
        font-size: 16px; /* Taille du texte */
    }
    .call-to-action-site {
        display: flex; /* Utiliser le modèle de boîte flex */
        justify-content: center; /* Centrer horizontalement les éléments */
    }
    .box {
        background-color: #FBF1D6; /* Couleur de la box */
        width: 200px; /* Largeur de la box */
        height: 150px; /* Hauteur de la box */
        margin: 10px; /* Marge autour de la box */
    }
    .boxes {
        display: flex; /* Utiliser le modèle de boîte flex */
        justify-content: space-evenly; /* Espacement égal entre les boxes */
    }
    .call-to-action-title {
        display: flex; /* Utiliser le modèle de boîte flex */
        justify-content: center; /* Centrer horizontalement */
        align-items: center; /* Centrer verticalement */
    }}
