body {
    background: #FBFBFB;
    font-family: '-apple-system', 'BlinkMacSystemFont', 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 100;
    color: black;
    transition: all 2s ease;
}

.Title,
.SubTitle {
    transition: all 1s ease;
    font-size: 3.5em;
    font-style: thin;
    font-weight: 300;
}

.Title {
    font-size: 3.5em;
    font-style: thin;
    font-weight: lighter;
    margin: 1.5em 0em 0em 0em;
    font-family: '-apple-system', 'BlinkMacSystemFont', 'Segoe UI', 'Roboto', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.SubTitle {
    padding: -20px 0px 0px 0px;
    font-size: 18px;
    font-style: normal;
}

.call-to-action {
    border-radius: 40px;
    padding: 0.7em 1em 0.7em 1em;
    margin: 20px 0;
    border: none;
    cursor: pointer;
    color: white;
    font-size: 16px;
}

.boxes {
    display: flex;
    justify-content: space-evenly;
    margin-top: 3em;
}

.TitleButton {
    font-size: 2em;
    margin: 0.5em 0;
}

.Description {
    font-weight: 100;
    font-size: 18px;
    margin-top: 0.5rem;
    margin-bottom: 0;
    line-height: 30px;
}

.box {
    background-color: #FBF1D6;
    width: 220px;
    height: 140px;
    margin: 5px 1.2em 5px 1.2em;
    gap: 1em;
    padding: 1.2em;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: flex-start;
}

h3 {
    margin: 0px;
    font-size: 1.1em;
    width: 180px;
    font-weight: 500;
}

.titleList {
    width: 80%;
    font-size: 1.3em;
    text-align: center;
    margin-top: 2em;
}

.callToActionTitle {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}

.iconBox {
    width: 30px;
    height: 31px;
}

.InfoBox {
    font-size: 0.9em;
    margin: 0em;
    margin-top: 1em;
}

.listComparateur {
    margin-bottom: 2em;
}

.listComparateur li {
    font-size: 1.2em;
    padding: 0.3em;
    list-style-image: url("../Logos/Puces.png");
}

.containerListing {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3em;
    margin-top: 1em;
}

.buttonInfoComparateur {
    background-color: #FBFBFB;
    box-shadow: 0px 2px 1px 0.1px #000000;
    border: none;
    border-radius: 1em;
    font-weight: bold;
    font-size: 1em;
    padding: 0.5em 1.1em 0.5em 1.1em;
    margin: 1em;
    color: black;
    transition: transform 0.2s, box-shadow 0.2s;
}

.buttonInfoComparateur:active {
    transform: translateY(1px);
    box-shadow: 0px 1px 2px 0px #000000;
}


.V2 {
    background-color: #FBF1D6;
}

.callToActionTitle h1 {
    max-width: 50%;
    letter-spacing: 2px;
    font-size: 3.5em;
    font-weight: lighter;
    text-align: center;
}

.callToActionTitle p {
    width: 35%;
    letter-spacing: 2px;
    font-size: 1.5em;
    font-weight: 300;
    text-align: center;
    margin: 0;
}

.callToActionSite {
    display: flex;
    justify-content: center;
    gap: 0.6em;
    margin-top: 2em;
}

.callToAction {
    background-color: #0D0C22;
    border-radius: 40px;
    width: 230px;
    padding: 1em 1em 1em 1em;
    letter-spacing: 1px;
    box-shadow: 0.5px 2px 4px 0.001px #0000009b;
    margin: 20px 0;
    border: none;
    font-weight: bold;
    color: white;
    font-size: 16px;
}

.call-to-action {
    background-color: #0D0C22;
    border-radius: 40px;
    width: 230px;
    padding: 1em 1em 1em 1em;
    letter-spacing: 1px;
    box-shadow: 0.5px 2px 4px 0.001px #0000009b;
    margin: 20px 0;
    border: none;
    font-weight: bold;
    color: white;
    font-size: 16px;
    transition: transform 0s, box-shadow 0s;
}

.call-to-action:active {
    transform: translateY(1px);
    box-shadow: 0px 1px 2px 0px #0000009b;
}

.callToAction:active {
    transform: translateY(1px);
    box-shadow: 0px 1px 2px 0px #0000009b;
}


.buttonWhite {
    background-color: #FBFBFB;
    color: #000000;

}

.boxesContainer {
    display: flex;
    justify-content: space-evenly;
    margin: 1em;
    margin-top: 2em;
    margin-bottom: 3em;
    gap: 1em;
}

.boxSite {
    padding: 1em;
    background-color: none;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    width: 220px;
    text-align: center;
    justify-content: flex-start;
    margin: 5px 1em 5px 1em;
}

.imageSite {
    width: 100%;
}

.TextImgSitePresentation {
    text-align: left;
    font-size: 1.1em;
    margin: 10px;
    margin-left: 2px;
    font-weight: 500;
}

.TextImgSitePresentationHtag {
    text-align: left;
    margin: 2px;
    font-size: 0.9em;
    margin-left: 2px;
}

.TitleImgSite {
    font-size: 1.6em;
    font-weight: 400;
    margin-top: 2em;
}

.FAQ {
    font-size: 1.6em;
    text-align: center;
    font-family: Roboto;
    letter-spacing: 2px;
    font-weight: 500;
    margin-bottom: 6em;
}

.TitleCookies {
    font-size: 35px;
    font-weight: 500;
}


.call-to-action-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4em;

    background-color: #FBF1D6;
    padding: 0px;
    margin-bottom: 3em;
    padding-bottom: 2em;
    padding-top: 2em;
    width: 100%;
    margin-top: 2em;
    align-items: center;
}

.call-to-action-containerCookies {
    display: flex;
    position: fixed;
    z-index: 999;
        bottom: 0;
        width: 100%;
    flex-direction: row;
    justify-content: center;
    gap: 4em;
    background-color: #FBF1D6;
    padding: 0px;
    margin-bottom: 0em;
    padding-bottom: 2em;
    padding-top: 2em;
    width: 100%;
    margin-top: 2em;
    align-items: center;
}
.BlockCookies {
    width: 40%;
}

.btnCookieWhite {
    background-color: #FBFBFB;
}

.containerButton {
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    margin-top: 3em;

}

.TextCk {
    font-size: 15px;
}

.cookiesBtn {
    border-radius: 40px;
    background-color: #0D0C22;
    padding: 0.7em;
    letter-spacing: 1px;
    box-shadow: 0.5px 2px 4px 0.001px #0000009b;
    border: none;
    font-weight: bold;
    color: white;
    font-size: 20px;
    transition: transform 0s, box-shadow 0s;
    width: 350px;
}

.cookiesBtn:active {
    transform: translateY(1px);
    box-shadow: 0px 1px 2px 0px #0000009b;
}

.btnCookieWhite {
    background-color: #FBFBFB;
    color: black;

}

@media(max-width: 1562px) {
    .callToActionTitle h1 {
        max-width: 70%;
    }

    .callToActionTitle p {
        width: 55%;
    }
}

@media(max-width: 1350px) {

    .containerButton {
        width: 300px;
    }
<<<<<<< HEAD

    .call-to-action-containerCookies {

=======
    
    .call-to-action-containerCookies {
        
>>>>>>> 453bc6b5bc24441c7615ecf065fddc0060ee6617
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 1.5em;
    }
        .BlockCookies {
            width: 60%;
        }

    .cookiesBtn {

        width: 300px;
    }
}

@media(max-width: 992px) {

    .buttonLinkOtherPage {
        width: 100%;
        height: 200px;
        padding: 0;
    }

    .Description {
        font-size: 1.5em;
        width: 90%;
    }

    .containerSecure {
        width: 90%;
        margin: 3em 0 6em 0;
    }

    .Discover {
        margin: 4em 2em;
        font-size: 2.4em;
    }

    .positionLogoListen2meet {
        margin-top: 2em;
        margin-left: 1em;
    }

    .callToActionTitle h1 {
        font-size: 2.5em;
        min-width: 80%;
        margin-top: 2em;
    }
}

@media(max-width: 768px) {
    .buttonLinkOtherPage {
        width: 90%;
        height: 180px;
        padding: 0;
        border-radius: 0.7em;
    }

    .Description {
        font-size: 1.1em;
        padding: 0.4rem;
        text-align: center;
        line-height: 20px;
    }

    .TitleButton {
        text-align: center;
        margin: 0;
        padding: 0.3em 0;
        font-size: 1.55em;
    }

    .Products {
        width: 100%;
        gap: 0.5em;
        margin-top: 2em;
        align-items: center;
        justify-content: center;
    }

    .PosBoutonAndCitation {
        margin: 1em 0 2em 0;
    }

    .callToActionSite {
        display: flex;
        justify-content: space-evenly;
        gap: 0em;
        margin-top: 2em;
    }
}

@media(max-width:992px) {
    .boxesContainer {
        display: flex;
        justify-content: space-evenly;
        margin: 0em;
        margin-top: 2em;
        margin-bottom: 3em;
        gap: 1em;
    }

    .Social {
        margin: 0em 0em 0em -5%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        justify-content: center;
        list-style: none;
    }

    .Facebook,
    .Instagram,
    .Linkedin {
        padding: 0.5em;
        z-index: 100;
        width: 2em;
        height: auto;
    }

    .Contact,
    .Connect,
    .Prenom {
        font-size: 1.2em;
    }


    .boxSite {
        padding: 0.5em;
        background-color: none;
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        width: 220px;
        margin: 5px 0em 5px 0em;
    }

    .box {
        margin: 1.3em 5px 1.3em 5px;
        width: 240px;
        padding: 1em 0em 1em 0em;
    }

}

@media(max-width:768px) {

    .Contact,
    .Connect,
    .Prenom {
        font-size: 1em;
    }

    .logoListen {
        margin: 1em;
    }

    .NavHeader {
        margin-right: 1em;
    }

    .ListeHeader {
        gap: 1.3em;
    }

    .SubTitle {
        font-size: 1em;
        text-align: center;
    }

    .Title {
        font-size: 2.3em;
        margin-top: 2.5em;
        text-align: center;
    }

    .boxes {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: 1.3em;
    }

    .box {
        margin: 1.3em 0px 1.3em 0px;
        width: 270px;
    }

    .boxSite {
        padding: 1em;
        width: 40%;

    }

    .boxesContainer {
        display: flex;
        flex-direction: row;
        gap: 0em;
        width: 100%;
        margin: 0.1em;
        flex-wrap: wrap;
    }

    .call-to-action-container {
        background-color: #FBF1D6;
        padding: 0px;
        margin-bottom: 3em;
        padding-bottom: 3em;
        width: 100%;
        margin-top: 2em;

    } 
    

    .callToActionTitle h1 {
        font-size: 1.5em;
        min-width: 80%;
        margin-top: 2em;
    }

    .callToActionTitle p {
        width: 90%;
        font-size: 1.2em;
        margin-top: 2em;
    }

    .callToAction {
        border-radius: 40px;
        width: 150px;
        padding: 0.7em;
        font-size: 12px;
    }

    .call-to-action {
        padding: 0.8em 1em 0.8em 1em;
        width: 100%;
    }

    .buttonInfoComparateur {
        padding: 0.8em 1em 0.7em 1em;


        border-radius: 80px;


    }

    .titleList {
        width: 90%;
        font-size: 1.2em;
        text-align: center;
        margin-top: 2em;
    }

    .listComparateur li {
        font-size: 1em;
        padding: 1em 0em 1em 0em;
    }

    .TitleImgSite {
        text-align: center;
        font-size: 1.4em;
    }

    .listComparateur {
        margin: 0;
        width: 80%;
    }

    .containerListing {
        margin-bottom: 3em;
    }

    ul {
        margin: 0px;
    }

         .call-to-action-containerCookies {
             background-color: #FBF1D6;
             padding: 0px;
             flex-direction: column;
             margin-bottom: 0em;
             padding-bottom: 0em;
             width: 100%;

             gap: 0em;
             margin-top: 2em;


<<<<<<< HEAD

=======
    
>>>>>>> 453bc6b5bc24441c7615ecf065fddc0060ee6617
         }
         .logo {
            display: none;

         }

         .TextCk{
            font-size: 13px;
         }
         .TitleCookies{
            font-size: 17px;
         }

         .BlockCookies{
            width: 90%;
         }
<<<<<<< HEAD

=======
         
>>>>>>> 453bc6b5bc24441c7615ecf065fddc0060ee6617
         .TextBtnCookie{
            font-size: 10px;
         }

         .cookiesBtn{
            font-size: 12px;
            width: 200px;
         }

                 .containerButton {
                     width: 90%;
                     display: flex;
                     flex-direction: column;
                     align-items: center;
                     gap: 0.8em;
                     margin-top: 1em;}


}