 body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 }

 .containerInfoBlog {

     margin: 1em;
 }

 .cardBlogPost {
     margin-top: 1em;
     margin-bottom: 1em;
     display: flex;
     gap: 2em;
     flex-direction: row;
 }

 .cardText .containerTextButton {
     display: flex;
     flex-direction: column;
     align-items: center;
 }

 .BLogTitlePos {
     width: 100%;
     display: flex;
     align-items: center;
     justify-content: center;
 }

 .LigneSeparationTitle {
     width: 100%;
     height: 0.5px;
     background-color: #6C6C6C;
 }

 .Title {
     font-size: 85px;
     font-weight: 100;
     letter-spacing: 0.04em;
     text-align: center;
     margin: 10px;
 }



 .buttonAllArticles {
     margin: 2em 0em 2em 0em;
     font-size: 24px;
     border: none;
     gap: 0px;
     border-radius: 30px;
     color: white;
     opacity: 0px;
     background-color: #0D0C22;
     padding: 0.6em 1.6em 0.6em 1.6em;
 }

 .containerBlog {
     width: 80%;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     margin-top: 1em;
     margin-bottom: 1em;
 }

 .cardText {
     height: 90%;
     display: flex;
     flex-direction: column;
     justify-content: flex-start;
 }

 .ImgCardBlog {
     width: 400px;
     height: auto;
 }

 .cardText {
     width: 100%;
     display: flex;
     flex-direction: column;
     justify-content: space-around;
 }

 .TextArticle {
     text-align: justify;
     font-size: 20px;
     margin: 0em;

 }

 .TitleArticle {
     font-size: 35px;
     margin: 0em;
     text-transform: uppercase;
     letter-spacing: 0.1em;
 }

 .Date {
     margin: 0em;
 }

 .ReadMore {
     font-size: 20px;
     font-weight: 100;
     text-decoration: underline;
     background-color: rgba(255, 255, 255, 0);
     border: none;
 }


 .containerInfoBlog {
     margin: 1em;
 }

 .cardBlogPost {
     margin-top: 1em;
     margin-bottom: 1em;
     display: flex;
     gap: 2em;
     flex-direction: row;
 }

 .PosElementCardText {
     display: flex;
     flex-direction: column;
     justify-content: space-between;
 }

 .containerInfoBlog.reverse .cardBlogPost {
     flex-direction: row-reverse;
 }

 .containerInfoBlog.reverse .TitleArticle {
     text-align: right;


 }

 .posRM {
     display: flex;

 }

 .containerInfoBlog.reverse .posRM {
     justify-content: flex-end;

 }


 .containerTextButton {
     display: flex;
     flex-direction: column;
     align-items: center;
 }

 .BLogTitlePos {
     width: 100%;
     display: flex;
     align-items: center;
     justify-content: center;

 }

 .LigneSeparationTitle {
     width: 100%;
     height: 0.5px;
     background-color: #6C6C6C;
 }

.Title {
    font-family: Roboto;
    font-size: 85px;
    font-weight: 100;
    margin: 0px 10px 0px 10px;



}

 .buttonAllArticles {
     font-size: 24px;
     border: none;
     gap: 0px;
     border-radius: 30px;
     color: white;
     opacity: 0px;
     background-color: #0D0C22;
     padding: 0.6em 1.6em 0.6em 1.6em;
 }

 .containerBlog {
     width: 75%;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     margin-top: 1em;
     margin-bottom: 1em;
 }

 .ImgCardBlog {
     width: 400px;
     height: auto;
 }

 .cardText {
     display: flex;
     flex-direction: column;
     justify-content: space-around;
 }

 .cardText.normal-text {
     align-items: flex-start;
 }

 .cardText.reverse-text {
     align-items: flex-end;
 }

 .TextArticle {
     text-align: justify;
     font-size: 20px;
     margin: 0em;
 }

 .TitleArticle {
     font-size: 35px;
     margin-bottom: 0.5em;
     text-transform: uppercase;
     letter-spacing: 0.2em;
 }

 .Date {
     margin: 0em;
     margin-bottom: 0.5em;
     font-size: 20px;
     font-weight: lighter;
     font-style: italic;
 }

 .ReadMore {
     font-size: 20px;
     font-weight: lighter;

     text-decoration: underline;
     background-color: rgba(255, 255, 255, 0);
     border: none;
 }






 @media (max-width: 1500px) {
     .containerBlog {
         width: 80%;
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;
         margin-top: 1em;
         margin-bottom: 1em;
     }

     .ImgCardBlog {
         width: auto;
         height: 260px;
     }



     .cardText {
         justify-content: space-between;
         height: 100%;

     }


     .TitleArticle {
         font-size: 25px;
         margin:0em ;
     }

     .TextArticle {
         font-size: 18px;
     }

     .ReadMore {
         font-size: 18px;
     }

     .Date {

         font-size: 18px;

     }



 }


 @media (max-width: 1245px) {
     .cardBlogPost {
         align-items: center;
     }
 }



 @media (max-width:992px) {
     .containerBlog {
         width: 95%;

     }

     .TitleArticle {
         font-size: 24px;
     }

     .TextArticle {
         font-size: 16px;
     }

     .ReadMore {
        margin-top: 1em;
         font-size: 14px;
     }

     .Date {

         font-size: 16px;

     }


 }

 @media (max-width:768px) {
     .cardText {
         width: 100%;
     }

     .LigneSeparationTitle {
         display: none;
     }

     .Title {
         font-size: 25px;
         margin: 0;
     }

     .TitleArticle {
         font-size: 12px;
     }

     .Date {
         font-size: 10px;
     }


     .TextArticle {
         width: 95%;
         font-size: 10px;
     }

     .ReadMore {
         margin-top: 0em;
         font-size: 10px;
     }

     .ImgCardBlog {
         width: auto;
         height: 130px;
         border-radius: 20px;
     }

     .TextArticle {
         font-size: 10px;
         overflow: hidden;
         text-overflow: ellipsis;
         display: -webkit-box;
         -webkit-box-orient: vertical;
         -webkit-line-clamp: 4;
         line-clamp: 4;
     }

     .cardBlogPost {
         gap: 0.5em;
         margin: 0;
         padding: 0px 5px 0px 5px;
     }

     .containerBlog {
         width: 95%;
         min-height: 80vh;
         display: flex;
         flex-direction: column;
         justify-content: flex-start;
     }

     .containerInfoBlog {
         box-shadow: 0.2px 2px 2px rgba(0, 0, 0, 0.224);
         margin: 0.3em 0em 0.3em 0em;
         padding: 5px;
         border-radius: 15px;

     }

     .containerInfoBlog.normal .posRM {
         justify-content: flex-end;

     }

     .buttonAllArticles {
         display: none;
     }

     .BLogTitlePos {
         width: 100%;
         display: flex;

     }
 }