/* Chargement de la police Roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

/* Typographie principale */
body {
    font-family: 'Roboto', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Apply a thicker font to all headings */
    h1, h2, h3 {
        font-family: 'Roboto';
        font-weight: 800; /* Make the font thicker */
    }

    /* Add a border around the first H1 title and center it */
    .BLogTitlePos {
        border: 2px solid black;
        padding: 20px;
        text-align: center;
        width: fit-content;
        margin: 0 auto; /* Center the element */
    }

    /* Remove underline and change default link color */
    a {
        text-decoration: none;
        color: inherit;
        font-weight: bold;
    }
/* Titres */
h1, h2, h3 {
    font-weight: 800; /* Rendre la police plus épaisse */
}

/* Style du titre du blog */
.BLogTitlePos {
    border: 2px solid black;
    padding: 20px;
    text-align: center;
    width: fit-content;
    margin: 0 auto; /* Centrer l'élément */
}

/* Appliquer une police plus épaisse à tous les titres */
    h1, h2, h3 {
        font-family: 'Roboto';
        font-weight: 800; /* Rendre la police plus épaisse */
    }

    /* Ajouter un cadre autour du premier titre H1 et centrer */
    .BLogTitlePos {
        border: 2px solid black;
        padding: 20px;
        text-align: center;
        width: fit-content;
        margin: 0 auto; /* Centrer l'élément */
    }

    /* Supprimer le soulignement et changer la couleur par défaut des liens */
    a {
        text-decoration: none;
        color: inherit;
        font-weight: bold;
    }

/* Liens */
a {
    text-decoration: none;
    color: inherit;
    font-weight: bold;
}

/* Paragraphes et listes du blog */
.blog-paragraph, .blog-list {
    margin-left: 10%;
    margin-right: 10%;
    line-height: 2;
    text-align: justify;
}

/* Tableaux du blog */
.blog-table {
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    text-align: left;
}

/* Paragraphes spécifiques */
p {
    margin-left: 30%;
    margin-right: 30%;
    line-height: 1.5;
    text-align: justify;
}

/* Conteneurs */
.containerInfoBlog, .cardBlogPost {
    margin: 1em 0;
}

.imgCardPost {
    width: 80px;
    height: 80px;
}

/* Titres des cartes de blog */
.titleCardPost {
    text-align: center;
    padding-top: 2%;
    font-weight: bold;
}

/* Images pour réseaux sociaux */
.ImgForSocialMedia {
    width: 10%;
    height: 10%;
}

/* Logo du blog */
.BlogLogo {
    position: absolute;
    top: 1%;
    left: 2%;
    z-index: 3;
}
