{% extends 'support/base_Support.html' %}
{% load static %}
<head>
    <title>Contactez notre équipe de support - Lightmeet</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Contactez notre équipe de support pour toute question ou préoccupation. Remplissez le formulaire ci-dessous et nous vous répondrons rapidement.">
    <meta name="author" content="Lightmeet">
    <link rel="canonical" href="https://www.lightmeet.fr/fr/support">

    {% load static %}
    {% block css %}
    <link rel="stylesheet" href="{% static 'partner_meet/css/style_base.css' %}">
    <link rel="stylesheet" href="{% static 'support/css/contact.css' %}">
    {% endblock %}
</head>
<body>
    {% block section %}
    <section class="ContainerSupport">
        <h1 class="Title">Contactez notre équipe de support</h1>
        <p class="subTitle">Utilisez le formulaire ci-dessous pour nous envoyer un message</p>

        <p style="text-align: justify;">Si vous avez des questions ou des préoccupations, n'hésitez pas à nous contacter. Remplissez le formulaire ci-dessous et nous vous répondrons dans les plus brefs délais.</p>

        <form class="form" method="POST" aria-labelledby="contact-form">
            {% csrf_token %}

            <div class="Apellation">
                <label for="id_sender_email">Votre e-mail :</label>
                {{ form.sender_email }}
            </div>

            <div class="Apellation2">
                <label for="id_subject">Sujet :</label>
                {{ form.subject }}
            </div>

            <div class="Apellation3">
                <label for="id_message">Votre message :</label>
                {{ form.message }}
            </div>

            <input class="SendMessage" type="submit" value="Envoyer" aria-label="Envoyer le message">
        </form>

        <p style="text-align: justify;">Nous nous engageons à vous répondre rapidement. Consultez notre <a href="{% url 'Home' %}">FAQ</a> pour des réponses immédiates à vos questions courantes.</p>
    </section>
    {% endblock %}
</body>
</html>
