@media(max-width:992px){
html{
    background-color: #10001C;
    width: 100%;
    height:100%;
}
.container{
    display:grid;
    grid-template-columns: 7fr 1fr;
    grid-template-rows: 1fr 7fr;
    grid-template-areas:"entete entete"
                                       "section section"
                                       "pied pied";
}
img.Purple{width:100%;height:150%;margin:0px 0px -120px 0px;}
header{
    grid-area:entete;
    text-align: center;
    align-items: center;
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    color: #E5E5E5;
    font-weight: 100;
    background-color:#10001C;
    width: 100%;
    font-family: '-apple-system', 'BlinkMacSystemFont','sans-serif';
    font-size:10px;
}

section{
    grid-area:section;
    background-color:#10001C;
    font-family: '-apple-system', 'BlinkMacSystemFont','sans-serif';
    font-weight: 100;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
    font-size:12px;
    display:flex;
    color:#E5E5E5;
    flex-direction: column;
    height:100%;
    width:100%;
}

.i04{
    font-weight: 100;
    font-size: 15px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.11em;
    color: #E5E5E5;
    font-family: '-apple-system', 'BlinkMacSystemFont','sans-serif';
}

footer{
    background-color:#000000;
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    text-align:center;
    font-size: 12px;
    font-family: '-apple-system', 'BlinkMacSystemFont','system-ui';
    font-weight: 100;
    width:100%;
    height:100%;
    z-index:100;
    color:#E5E5E5;
    padding:20px 0px 20px 0px;
    grid-area:pied;
}

.i04{
    font-weight: 100;
    font-size: 15px;
    line-height: 24px;
    text-align: center;
    align-items:center;
    letter-spacing: 0.11em;
    color: #E5E5E5;
    font-family: '-apple-system', 'BlinkMacSystemFont','system-ui';
}

.i6{
    margin:13px;
    padding:13px;
}

input{
    background: rgba(134, 0, 232, 0.3);
    box-shadow: 2px 2px 5px rgba(229, 229, 229, 0.5);
    border-radius: 5px;
    font-weight:100;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
    display:flex;
    flex-direction:column;
    justify-content:space-evenly;
    align-items: center;
    text-align: center;
    width:275px;
    padding:14px;
    margin: 10px;
    border:none;
    z-index:100;
    font-family:'-apple-system', 'BlinkMacSystemFont','system-ui';
}

textarea{
    background: rgba(134, 0, 232, 0.3);
    box-shadow: 2px 2px 5px rgba(229, 229, 229, 0.5);
    border-radius: 5px;
    font-weight:100;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
    display:flex;
    flex-direction:column;
    justify-content:space-evenly;
    align-items: center;
    text-align: center;
    width:275px;
    padding:14px;
    margin: 10px;
    border:none;
    z-index:100;
}

select{
    background: rgba(134, 0, 232, 0.3);
    box-shadow: 2px 2px 5px rgba(229, 229, 229, 0.5);
    border-radius: 5px;
    font-weight:100;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
    display:flex;
    flex-direction:column;
    justify-content:space-evenly;
    align-items: center;
    text-align: center;
    width:295px;
    padding:14px;
    margin: 10px;
    border:none;
    z-index:100;
}
input::placeholder,select::placeholder,textarea::placeholder{
    color:#E5E5E5;
    font-size:14px;
    font-weight:100;
    font-family: 'system-ui', '-apple-system', 'BlinkMacSystemFont';
}

.Title{
    font-size:28px;
    font-family: 'system-ui', '-apple-system', 'BlinkMacSystemFont';
    font-weight:100;
    color:#E5E5E5;
    margin:-15px 0px 10px 0px;
}
.Message{
    height:40px;
    display:flex;
    font-family: 'system-ui', '-apple-system', 'BlinkMacSystemFont';
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-weight:100;
}
.Inscription{
    display:flex;
    flex-direction:column;
    justify-content: space-evenly;
    text-align:center;
    align-items:center;
    background: linear-gradient(180deg, #121212 0%, #303030 100%);
    box-shadow: 1.75941e-15px 28.7333px 57.4667px rgba(7, 7, 7, 0.8), inset -1.17294e-15px -19.1556px 19.1556px #0E0E0E, inset 1.17294e-15px 19.1556px 19.1556px #343434;
    border-radius: 50px;
    color:#E5E5E5;
    font-size: 14px;
    z-index:400;
    font-family: '-apple-system', 'BlinkMacSystemFont','sans-serif';
    font-weight: 100;
    width:200px;
    height:40px;

}



.Apellation,.Apellation2,.Apellation3{
    display: flex;
    flex-direction:row;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
    z-index:100;
    border:none;

}
.line{width:275px;height:1px;}
}
@media(min-width:992px){
html{
    background-color: #10001C;
    width: 100%;
    height:100%;
}
.container{
    display:grid;
    grid-template-columns: 7fr 1fr;
    grid-template-rows: 1fr 7fr;
    grid-template-areas:"entete entete"
                                       "section section"
                                       "pied pied";
}
.i0{
    width:50px;height:50px;
}


.line{width:350px;height:1px;}
header{
    grid-area:entete;
    text-align: center;
    align-items: center;
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    color: #E5E5E5;
    font-weight: 100;
    background-color:#10001C;
    width: 100%;
    font-family: '-apple-system', 'BlinkMacSystemFont','sans-serif';
    font-size:14px;
}

section{
    grid-area:section;
    background-color:#10001C;
    font-family: '-apple-system', 'BlinkMacSystemFont','sans-serif';
    font-weight: 100;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
    display:flex;
    color:#E5E5E5;
    flex-direction: column;
    height:100%;
    width:100%;
}

.i04{
    font-weight: 100;
    font-size: 15px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.11em;
    color: #E5E5E5;
    font-family: '-apple-system', 'BlinkMacSystemFont','sans-serif';
}

footer{
    background-color:#000000;
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    text-align:center;
    font-size: 12px;
    font-family: '-apple-system', 'BlinkMacSystemFont','sans-serif';
    font-weight: 100;
    width:100%;
    height:100%;
    color:#E5E5E5;
    padding: 17px 0px 17px 0px;
    grid-area:pied;
}

.i01{
    font-family: '-apple-system', 'BlinkMacSystemFont','sans-serif';
    font-style: normal;
    font-weight: 100;
    font-size: 30px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.11em;
    color: #FFFFFF;
}



.i04{
    font-weight: 100;
    font-size: 15px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.11em;
    color: #E5E5E5;
    font-family: '-apple-system', 'BlinkMacSystemFont','sans-serif';
}

.i6{
    margin:13px;
    padding:13px;
}

.form{
    border-radius: 5px;
    font-weight: 100;
    font-size: 14px;
    line-height: 21px;
    color: #FFFFFF;
    display:flex;
    flex-direction:column;
    justify-content:space-evenly;
    align-items: center;
    text-align: center;
    width: 250px;
    padding:12px;
    margin: 15px;
    border:none;
}
.Contact{
    display: flex;
    flex-direction:row;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
    margin:10px;
}

input,textarea,select{
    background: rgba(134, 0, 232, 0.3);
    box-shadow: 2px 2px 5px rgba(229, 229, 229, 0.5);
    border-radius: 5px;
    font-weight:100;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
    display:flex;
    flex-direction:column;
    justify-content:space-evenly;
    align-items: center;
    text-align: center;
    width:350px;
    padding:14px;
    margin: 10px;
    border:none;
    z-index:100;
}

input{
    height:10px;
}

input::placeholder,select::placeholder,textarea::placeholder{
    color:#E5E5E5;
    font-size:14px;
    font-weight:100;
}

.Title{
    font-weight: 100;
    font-size:30px;
    margin:12px 0px 25px 0px;
    line-height: 30px;
    color: #FFFFFF;
    display:flex;
    flex-direction: column;
    text-align:center;
    align-items:center;
    justify-content:space-evenly;
    z-index:100;
    font-family: 'system-ui', '-apple-system', 'BlinkMacSystemFont';
}
.Message{
    height:50px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    text-align: justify;
    align-items: flex-start;
}

.Inscription{
    display:flex;
    flex-direction:column;
    justify-content: space-evenly;
    text-align:center;
    align-items:center;
    background: linear-gradient(180deg, #121212 0%, #303030 100%);
    box-shadow: 1.75941e-15px 28.7333px 57.4667px rgba(7, 7, 7, 0.8), inset -1.17294e-15px -19.1556px 19.1556px #0E0E0E, inset 1.17294e-15px 19.1556px 19.1556px #343434;
    border-radius: 65.5px;
    color:#E5E5E5;
    font-size: 14px;
    z-index:100;
    font-family: '-apple-system', 'BlinkMacSystemFont','sans-serif';
    font-weight: 100;
    width:200px;
    height:40px;
    margin:13px;
}

.Apellation,.Apellation2,.Apellation3{
    display: flex;
    flex-direction:row;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
    z-index:100;
}}