{% extends "admin/change_list.html" %}

{% block content %}
<div id="content-main">
    {% if has_import_permission %}
    <div class="module">
        <table>
            <caption>{% trans "Import" %}</caption>
            <tr>
                <th>{% trans "Import a file:" %}</th>
                <td>
                    <form enctype="multipart/form-data" action="{% url opts|admin_urlname:'import' %}" method="post">
                        {% csrf_token %}
                        <input type="file" name="import_file">
                        <button type="submit" class="button" title="{% trans "Import" %}">
                            {% trans "Import" %}
                        </button>
                    </form>
                </td>
            </tr>
        </table>
    </div>
    {% endif %}

    {% if has_export_permission %}
    <div class="module">
        <table>
            <caption>{% trans "Export" %}</caption>
            <tr>
                <th>{% trans "Export selected items" %}</th>
                <td>
                    <form action="{% url opts|admin_urlname:'export' %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="button" title="{% trans "Export" %}">
                            {% trans "Export" %}
                        </button>
                    </form>
                </td>
            </tr>
        </table>
    </div>
    {% endif %}

    {% block result_list %}
        {{ block.super }}
    {% endblock %}
</div>
{% endblock %}
