.sites-de-rencontres {
    background: url(../Logos/backgroundPsy.png);
    background-size: cover;
}

.buttonOtherSearh {
    width: 300px;
    height: 70px;
    border-radius: 30px 30px 0px 0px;
    opacity: 0px;
    background-color: #FBF1D6;
    border: none;
    font-size: 1.3em;
    font-weight: bold;
    color: black;
}

.selectButton {
    background-color: #FBFBFB;
    border: 9px solid #FBF1D6;
    border-bottom: none;
}

.ResPsy {
    text-align: left;

    font-size: 1.8em;
    font-weight: 500;
    margin: 1em 0em 1em 0em;
    width: 100%;
}

.CardPsyPosition {
    display: flex;
    width: 80%;
    align-items: center;
    justify-content: space-between;

}

.PosImgInfoPsy {
    margin: 0;
    display: flex;
    align-items: center;
    gap: 2em;
}

.PsyName {
    margin: 0em 0em 0.3em 0em;
    font-size: 40px;
}

.PsyAdress {
    margin: 0.3em 0em 0.3em 0em;
    font-size: 25px;
}

.Specialite {
    margin: 0.3em 0em 0.3em 0em;
    font-size: 25px;
}

.diplome {
    margin: 0.3em 0em 0.3em 0em;
    font-size: 25px;
}

.PsyPostal {
    margin: 0;
    font-size: 25px;
}

.PsyTel {
    margin: 0;
    font-size: 25px;
    font-weight: 600;
}

.SizeImgCard {
    width: 130px;
    height: 130px;
    border-radius: 100px;
    position: relative;
    padding: 09px;
    background: linear-gradient(180deg, #FBF1D6 0%, #0D0C22 100%);
    z-index: 1;
}

.posTelPostal {
    display: flex;
    align-items: center;
    gap: 0.5em;
    margin: 0.3em 0em 0.3em 0em;
}

.ligneSeparationCardPsy {
    width: 0.5px;
    height: 100px;
    background-color: #00000033;

}

.PosRS {
    margin: 0.3em 0em 0.3em 0em;
    display: flex;
    gap: 1.2em;
}


.sitePsy {
    color: blue;
    font-size: 20px;
}

.posSeparation {
    display: flex;
    flex-direction: row;
    gap: 4em;
    align-items: center;
}

.LogoRs {
    width: 30px;
    height: 30px;
}


@media (max-width:1300px) {
    .CardPsyPosition {
        width: 90%;
    }

    .posSeparation {
        gap: 3em;
    }
}

@media (max-width:992px) {
    .CardPsyPosition {
        width: 90%;
    }

    .PsyName {
        font-size: 30px;
    }

    .PsyAdress {
        font-size: 20px;
    }

    .Specialite {
        font-size: 20px;
    }

    .diplome {
        font-size: 20px;
    }

    .PsyPostal {
        font-size: 20px;
    }

    .PsyTel {
        font-size: 20px;
        font-weight: 600;
    }

    .sitePsy {
        color: blue;
        font-size: 15px;
    }

    .posSeparation {
        gap: 2em;
    }
}

@media (max-width:768px) {
    .CardPsyPosition {
        width: 100%;
    }

    .buttonOtherSearh {
        width: 200px;
        height: 50px;
        font-size: 1em;
    }

    .ButtonPos {
        margin-top: 0px;
    }

    .PsyName {
        font-size: 12px;
    }

    .PsyAdress {
        font-size: 12px;
    }

    .Specialite {
        font-size: 12px;
    }

    .diplome {
        font-size: 12px;
    }

    .PsyPostal {
        font-size: 12px;
    }

    .PsyTel {
        font-size: 12px;
        font-weight: 600;
    }

    .sitePsy {
        color: blue;
        font-size: 12px;
    }

    .posSeparation {
        gap: 0.5em;
    }

    .SizeImgCard {
        width: 60px;
        height: 60px;
        border-radius: 100px;
        position: relative;
        padding: 5px;
        background: linear-gradient(180deg, #FBF1D6 0%, #0D0C22 100%);
        z-index: 1;
    }

    .PosImgInfoPsy {
        margin: 0;
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .VersionPc {
        display: none;
    }

    .PsyName {
        display: flex;
    }

    .LogoRs {
        width: 20Px;
        height: auto;
    }

    .ligneSeparationCardPsy {
        height: 60px;
    }

    .posTelPostal {
        gap: 0.2em;
    }

    .PosRS {
        gap: 0.7em;
    }


}