@font-face {
    font-family: fahkwang;
    src: url(../font/fahkwang/Fahkwang-Bold.ttf);


}

/* base_Contexte.html */

.inscription {
    padding: 15px;
    z-index: 400;
    background: rgba(134, 0, 232, 0.6);
    border-radius: 5px;
    color: #000000;
    text-decoration: none;
}

.logoL2M {
    color: #000000;
    text-decoration: none;
}

.Support {
    margin: 0px 0px 0px 60%;
    font-size: 13px;
    color: #000000;
    text-decoration: none;
}

/*
.Play {
    color: #E5E5E5;
    text-decoration: none;
} */


.Player {
    color: #E5E5E5;
    text-decoration: none;
}

.Contact {
    z-index: 200;
    margin: 0px 0px 0px 0%;
    font-size: 13px;
    color: black;
    text-decoration: none;
}

.Prenom {
    z-index: 200;
    color: black;
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
}

.Connect {
    z-index: 200;
    padding: 0.3em 0.4em 0.3em 0.4em;
    border-radius: 5px;
    background: #8600E8;
    color: black;
    text-decoration: none;
}

.container {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}



.NavHeader {
    margin-right: 2.3em;
    display: flex;
    justify-content: space-around;
}

.line {
    height: 2px;
    width: 20px;
    background-color: #000000;
    margin: 0.2em;
}

header {
    margin-top: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 85px;
    color:black;
    font-weight: 100;
    width: 100%;
    background-color:#FAF6F2;
    font-family: '-apple-system', 'BlinkMacSystemFont', 'sans-serif', 'system-ui';
    font-size: 14px;
    height: 85px;
    z-index: 200;
}

.logoListen {
    margin: 2.3em;

}


.ListeHeader {
    display: flex;
    padding: 0;
    margin: 0;
    gap: 1em;
    list-style: none;
    align-items: center;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:black;
    background: linear-gradient(45deg, #EDCB70 0%, #FBFBFB 100%);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
}

/* --------------------footer--------------------------------- */

footer {
    background: linear-gradient(45deg, #EDCB70 0%, #FBFBFB 100%);
    display: flex;
    flex-direction: column;
    font-family: '-apple-system', 'BlinkMacSystemFont', 'sans-serif', 'system-ui';
    font-weight: 100;
    width: 100%;
    height: 80px;
    padding: 20px 0px 20px 0px;
    z-index: 999;
    font-size: 12px;
    color: black;
}

.ListFooter {
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 0;
}

.linkFooter {
    text-decoration: none;
    color:black;
}

.Social {
    margin: 0em 0em 0em -7%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: center;
    list-style: none;
}


.Facebook,
.Instagram,
.Linkedin {
    padding: 1em;
    z-index: 100;
    width: 2em;
    height: auto;
}



@media(max-width:992px) {

    .Social {
        margin: 0em 0em 0em -5%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        justify-content: center;
        list-style: none;
    }

    .Facebook,
    .Instagram,
    .Linkedin {
        padding: 0.5em;
        z-index: 100;
        width: 2em;
        height: auto;
    }

    footer {
        height: 100%;
        padding: 0px 0px 0px 0px;
    }

    .Contact,
    .Connect,
    .Prenom {
        font-size: 1.2em;
    }
}

@media(max-width:768px) {


    .ListFooter {
        flex-direction: row;
        flex-wrap: wrap;
        align-content: normal;
        justify-content: center;
        list-style: none;
        padding: 0;
        margin: 0;
        margin-top: 1em;
        margin-bottom: 1em;
    }

    footer {
        height: 100%;
        padding-top: 1em;
        padding-bottom: 1em;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .Social {
        flex-direction: row;
        align-items: flex-end
    }

    .ListFooter li {
        text-align: left;
        padding: 0.5em 1em 0.5em 1em;
    }



    .Contact,
    .Connect,
    .Prenom {
        font-size: 1em;
    }

    .logoListen {
        margin: 1em;
    }

    .NavHeader {
        margin-right: 1em;

    }

    .ListeHeader {
        gap: 1.3em;

    }

        .line {
            height: 2px;
            width: 20px;
            background-color: #ffffff;
            margin: 0.3em;
        }

}