{% extends 'psy/base_Psy.html' %}
{% load static %}
{% block css %}
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const ratingContainers = document.querySelectorAll('.rating-container');
        ratingContainers.forEach(container => {
            const rating = parseFloat(container.getAttribute('data-rating'));
            const ratingElement = document.createElement('p');
            ratingElement.innerHTML = '';

            for (let i = 0; i < 5; i++) {
                if (i < rating) {
                    ratingElement.innerHTML += `<svg class='sizeStar' viewBox="0 0 40 37" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M20 0L24.7023 13.5279L39.0211 13.8197L27.6085 22.4721L31.7557 36.1803L20 28L8.2443 36.1803L12.3915 22.4721L0.97887 13.8197L15.2977 13.5279L20 0Z" fill="#F6E045"/>
                    </svg>`;
                } else {
                    ratingElement.innerHTML += `<svg class='sizeStar' viewBox="0 0 40 37" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M20 0L24.7023 13.5279L39.0211 13.8197L27.6085 22.4721L31.7557 36.1803L20 28L8.2443 36.1803L12.3915 22.4721L0.97887 13.8197L15.2977 13.5279L20 0Z" fill="#E0E0E0"/>
                    </svg>`;
                }
            }

            container.appendChild(ratingElement);
        });
    });
</script>

<link rel="stylesheet" href="{% static 'partner_meet/css/SearchPage.css' %}">
{{ block.super }}
<link rel="stylesheet" href="{% static 'partner_meet/css/style_base.css' %}">
{% endblock %}

{% block section %}
<div class="ButtonPos">
    <button class="buttonOtherSearh " onclick="window.location.href=`{% url 'recherche_home' %}`">
        Rencontres
    </button>
    <button class="buttonOtherSearh selectButton" onclick="window.location.href=`{% url 'recherche_therapeutes' %}`">
        Thérapeutes
    </button>
</div>
<div class="sites-de-rencontres">
    <div class="containerBackground">
        <form method="get" action="{% url 'recherche_meilleur_therapeutes' %}">
            {% csrf_token %}
            <div class="containerCardSelector">
                <div class="CardSelector">
                    <h2>Spécialité</h2>
                    <select class="selector" name="specialite">
                        {% for specialite_key, specialite_label in SPECIALITE_CHOICES %}
                        <option value="{{ specialite_key }}">{{ specialite_label }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="CardSelector">
                    <h2>Département</h2>
                    <select class="selector" name="departement">
                        {% for departement_key, departement_label in DEPARTEMENT_CHOICES %}
                        <option value="{{ departement_key }}">{{ departement_label }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="CardSelector">
                    <h2>Diplôme</h2>
                    <select class="selector" name="diplome">
                        {% for diplome_key, diplome_label in DIPLOME_CHOICES %}
                        <option class="optiontest" value="{{ diplome_key }}">{{ diplome_label }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="PosSearch">
                <div class="PosFilter">
                    <p>Filtres populaires: </p>
                    <div>
                        <input type="checkbox" name="affiliated_partner" id="partner" />
                        <label for="partner">Partenaires affiliés</label>
                    </div>
                </div>
                <button class="ButtonSearch" type="submit">Recherchez</button>
            </div>
        </form>
    </div>
</div>

<div class="containerResultats">
    {% for psy in psymeet %}
    <div class="cardApp VersionPC" action="get">
        <div>
            <div class="alignItems">
                <img class="SizeImgCard" src="{{ psy.LOGO.url }}" alt="{{ psy.nom }} Logo">
                <div class="containerTitleCard">
                    <div class="PosStar">
                        <h3 class="TitleCard">{{ psy.nom }}</h3>
                        <p class="rating-container" data-rating="{{ psy.trustpilot }}"></p>
                    </div>
                    <p class="textCard">Comprenez en plus sur votre esprit</p>
                    <div class="PosFlag">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="22" viewBox="0 0 35 22">
                            <rect width="11.6667" height="22" fill="#0055A4" />
                            <rect x="11.6667" width="10.6667" height="22" fill="#FFFFFF" />
                            <rect x="23.3333" width="10.6667" height="22" fill="#EF4135" />
                        </svg>
                        <p class="pays">France</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="Line"></div>
        <p class="descriptionCard bold">{{ psy.prix_avg }}€</p>
        <div class="Line"></div>
        <p class="descriptionCard bold">{{ psy.age }} ans</p>
        <div class="Line"></div>
        <p class="descriptionCard">+ {{ psy.Visites_France }}<br> Visites / mois</p>
        <div class="Line"></div>
        <button class="buttonVisit" onclick="window.location.href='{{ psy.url }}'">Visiter</button>
    </div>

    <div class="cardApp VersionMobile" action="get">
        <div class="alignItems">
            <img class="SizeImgCard" src="{{ psy.LOGO.url }}" alt="{{ psy.nom }} Logo">
            <div class="containerTitleCard">
                <div class="PosStar">
                    <h3 class="TitleCard">{{ psy.nom }}</h3>
                    <p class="rating-container" data-rating="{{ psy.trustpilot }}"></p>
                </div>
                <p class="textCard">Comprenez en plus sur votre esprit</p>
                <div class="PosFlag">
                    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="10" viewBox="0 0 14 10">
                        <rect width="4.6667" height="10" fill="#0055A4" />
                        <rect x="4.6667" width="4.6667" height="10" fill="#FFFFFF" />
                        <rect x="9.3334" width="4.6667" height="10" fill="#EF4135" />
                    </svg>
                    <p class="pays">France</p>
                </div>
            </div>
        </div>
        <div class="alignItemsButton">
            <div class="containerDescription">
                <p class="descriptionCard bold">{{ psy.prix_avg }}€</p>
                <p class="descriptionCard bold">{{ psy.age }} ans</p>
                <p class="descriptionCard">+ {{ psy.Visites_France }} Visites / mois</p>
            </div>
            <button class="buttonVisit" onclick="window.location.href='{{ psy.url }}'">></button>
        </div>
    </div>
    {% empty %}
    <div class="empty-message">
        <p>Ces thérapeutes sont actuellement sélectionnés par <i>Lightmeet</i></p>
        <p style="text-align:center;"><strong style="font-size:30px;">BIENTÔT disponible</strong></p>
    </div>
    {% endfor %}
</div>
{% endblock %}